td h3 {
	color: #FF802B;
	padding: 0;
	margin: 0;
}

tr.ffSample {
	display: none;
}

table.list tbody tr {
	height: 20px;
}

table.list td.checkbox {
	width: 10px;
}

table.list td.comment {
	width: 650px;
}

.ms-button {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0 1px;
}

.ms-button-small {
	width: 16px;
	height: 16px;
}

.ms-button-delete {
	background-image: url(../image/multiseller/ms-cross.png);
}

.ms-button-edit {
	background-image: url(../image/multiseller/ms-pencil.png);
}

.ms-button-paypal {
	background-image: url(../image/multiseller/ms-paypal.png);
}

.ms-button-paypal-bw {
	background-image: url(../image/multiseller/ms-paypal-bw.png);
	cursor: default;
}

.ms-button-mark {
	background-image: url(../image/multiseller/ms-tick.png);
}

.ms-loading {
	background: url(../image/loading.gif) no-repeat center;
}

.ms-button-apply {
	background-image: url(../image/success.png);
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;	
}

.ms-payout table.list tbody tr {
	height: 50px;
}

.fee-rate-1 {
	color: #4E8B00;
}

.fee-rate-2 {
	color: #1C237A;
}

.fee-rate-3 {
	color: #C84848;
}

h1 img {
	width: 22px;
}

