<?php if ($reviews) { ?>
<?php foreach ($reviews as $review) { ?>
<div class="review-list">
  <div class="review-header">
		    <div class="avatarcon"><img class="avatar" src="<?php echo $review['author_pic']; ?>"></div>
		    <div class="author"><?php echo $review['author']; ?></div>
		    
  </div>
  <?php /* ?> 
  <div class="rating"><img src="catalog/view/theme/<?php echo $this->config->get('config_template') ?>/image/stars-<?php echo $review['rating'] . '.png'; ?>" alt="<?php echo $review['reviews']; ?>" /></div>
  <?php */ ?>
  <div id="chatzig"></div>
  <div class="text">
  <?php echo $review['text']; ?>
  <div class="review_date"><?php echo $review['date_added']; ?></div>
  </div>
</div>
<?php } ?>
<!--<div class="pagination"><?php echo $pagination; ?></div>-->
<?php } else { ?>
<div class="content"><?php echo $text_no_reviews; ?></div>
<?php } ?>