/*********************************************************
*  iPad in portrait & landscape
********************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    
    #cat-header .cat-header-right {
        padding-right: 25px;
        width: 255px;
    }
    
    #column-left .box {
        width: 100%;
        box-sizing: border-box;
    }
    
    #column-left + #content {
        margin-right: 250px !important;
    }
    
    .product-info > .left {
        width: 655px;
    }
    
    .product-info > .right {
        width: 275px !important;
    }
    
    #sides > div > div.side-content {
        width: 220px;
    }
    
    .product-info .review .text {
        width: 545px;
    }
    
    /*************************************
     *  cook page
     *************************************/
    .ms-sellerprofile .seller-data {
        width: 216px !important;
    }
    
    .ms-sellerprofile .seller-data div.info-box .tab {
        width: 107px !important;
    }
    
    .ms-sellerprofile .seller-data div.info-box .tab.last {
        width: 107px !important;
    }
    
    #content > div.twothireds {
        margin-right: 200px !important;
    }
    
    /*******************************************
     *  Home page
     *******************************************/
    
    div.back-img {
        right: 12px;
        bottom: 100px
    }
    
    div#search-controller {
        right: 60px;
        bottom: 135px;
    }
    
    #newsletter-con input {
        width: 255px;
    }
    
    /******************************************
     *  LIGHT BOX
     *****************************************/
    
    #colorbox {
        top: 15px !important;
    }
}

/*********************************************************
 *  iPad in landscape 
 ********************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {  
}

/*********************************************************
 *  iPad in portrait
 ********************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    
    #logo-homeals {
        width: 200px !important;
    }
    
    #welcome-homeals {
        width: 250px !important;
    }
    
    #user-side {
        width: 149px !important;
    }
    
    #need-help-con {
        width: 100px !important;
    }
    
    
    #search-homeals{
        width: 274px !important;
        box-sizing: border-box !important;
    }
    
    #input-search-homeals {
        width: 150px !important;
    }
    
    #cat-header .cat-header-right {
        padding-right: 25px;
        width: 220px;
        padding-left: 10px;
    }
    
    #cat-header .cat-header-left .weekday {
        width: 100px;
    }
    
    /****************************
     * side menu catpage
     ***************************/
    
    div#filtertext {
        font-size: 70%;
    }
    div#filterball {
        height: 25px;
        width: 25px;
        background-size: 100%;
    }
    div#filterdiv {
        line-height: 25px;
        height: 25px;
    }
    
    /****************************
     * main area catpage
     ***************************/
    #column-left + #content {
        margin-right: 0 !important;
        margin-left: 0;
    }
    
    
    /****************************
    * product page
    ***************************/
    .product-info .image img {
        height: 330px;
        width: 440px;
    }
    
    .product-info > .left {
        width: 440px;
    }
    
    .product-header .left {
        width: 415px;
    }
    
    .product-info .review .text {
        width: 333px;
    }
    
    div.concenter1024 {
        width: 100%;
    }
    
    /****************************
    * category page
    ***************************/
    
    #column-left {
        display: none;
    }
    
    #cat-header {
        width: 837px;
    }
    
    #cat-header {
        width: 100%;
    }
    
    #cat-header .cat-header-left {
        width: 510px;
    }
    
    #open_login {
        width: 65px;
    }
    
    #open_signin {
        width: 65px;
    }
    
    
    
    /****************************
    * cook page
    ***************************/
    
    #content > div.twothireds {
        margin-right: 0 !important;
    }
    
    .ms-sellerprofile .seller-data div.info-box .tab {
        width: 361px !important;
    }
    
    .ms-sellerprofile .seller-data div.info-box .tab.last {
        width: 361px !important;
    }
    
    .ms-sellerprofile .seller-data {
        width: 100% !important;
        height: 210px !important;
        padding-top: 25px;
    }
    
    .ms-sellerprofile .seller-data div.avatar-box img {
        width: 100px !important;
        height: 100px !important;
        position: absolute;
        right: 124px;
        top: 15px;
    }
        
    .ms-sellerprofile {
        width: 100%;
    }
    
    div#hp-header-logo {
        width: 220px !important;
    }
    
    /****************************
    * Home page
    ***************************/
    
    div#info-two {
        margin: 0 24px !important;
    }
    
    div.info-body {
        width: 240px !important;
    }
    
    div.cooks-body-text {
        padding: 0 15px !important;
    }
    
    div.cooks-body {
        width: 240px !important;
    }
    
    div#cooks-two {
        margin: 0 24px !important;
    }
    
    #newsletter-con input {
        width: 180px;
    }
    
    div.back-img {
        display: none;
    }
    
    div#search-controller {
        right: 45px;
        bottom: 70px;
    }
    
    div#search-controller-con {
        width: 100%;
    }
    
    div#footer-newsletter {
        background: url('../image/homeals/newsletterbg.jpg');
        background-position-y: -200px;
        background-size: cover;
    }
    
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    body #container {
        width: 100%;
        position: relative;
    }
    
    #container #header,#container .content-inner {
        margin: 0;
    }
    
    #cat-header-con {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .clone #cat-header-con {
        position: fixed;
        width: 100%;
    }
    #content .product-list .product-block-inner .name h3 {
        text-align: right;
    }
    #cat-header {
        width: 100%;
    }
    
    #cat-header .cat-header-right {
        display: none;
    }
    
    #header-homeals > #search-homeals {
        padding: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    
    #search-homeals-inner {
        width: 290px;
        margin: auto;
        height: 50px;
    }
    
    #search-homeals input {
        width: 200px;
    }
    
    .product-grid-list ul li {
        width: 100%;
        margin: auto;
        float: none;
        display: block;
    }
    
    #content .product-grid-list .product-block {
        width: 335px;
        margin: auto;
    }
    #content .product-list .product-block-inner .name .avatarcon .avatar {
        margin-right: 2px;
    }
    
    
    
    
    #open_inbox {
        padding-left: 10px;
        margin: 0;
    }
    
    #open-logout-box {
        background: none;
        padding-left: 0;
    }
    
    #need-help-con {
        width: auto;
    }
    
    #welcome-homeals {
        display: none;
    }
    
    #welcome-homeals div.inner {
        margin-left: 5px;
    }
    
    /*#welcome-homeals #user-side {
        margin-left: 15px;
    }*/
    
    #welcome-homeals div.in {
        margin: auto;
        width: 305px;
    }
    
    #welcome-homeals div.logout-box {
        left: 0;
        z-index: 1;
    }
    
    #header #logo-homeals {
        width: 100%;
        text-align: center;
        height: 50px;
        overflow: hidden;
        
    }
    
    #footer-container {
        border-top: 1px solid #e7e3d9;
    }
    
    div#go-to-next-day {
        float: none;
        text-align: center;
        font-size: 16px;
        margin-top: 64px;
        left: 10px;
    }
    
    .header-homeals #logo-homeals img , div#hp-header-logo img  {
        height: 42px;
        width: initial;
        display: none;
        float: none;
    }
    
    div .fixed {
        position: fixed;
    }
    
    #header-placeholder {
        display: none;
    }
    
    .category-list {
        margin-bottom: 0;
    }
    
    .product-info .review .review-list {
        display: hidden;
    }
    
    div .concenter1024 {
        width: 100%;
        margin: auto;
        position: relative;
        height: 100%;
    }
    
    div#source_code {
        position: relative;
    }
    
    body > #homepage-footer  .concenter1024 {
        width: 100%;
        margin: auto;
    }
    
    div .concenter1024 li {
        float: none; 
        margin: 10px 15px;
    }
    
    #homepage-footer a {
        font-size: 14px;
        margin: 5px;
    }
    
    #footer-epilog .right {
        width: 100%;
        text-align: center;
    }
    
    #footer-epilog .center {
        display: none;
    }
    
    #footer-epilog .left {
        width: 100%;
        text-align: center;
    }
    
    div#footer-main-links {
        margin: 15px;
    }
    
    .product-info > .left + .right {
        float: left;
        width: 100%;
    }
    
    .product-header .left {
        width: 100%;
        text-align: center;
    }
    
    #add-review{
        display: none;
    }
    
    .side {
        margin: 0;
        overflow: hidden;
        height: inherit;
        display: block;
    }
    
    #sides {
        display: none;
    }
    
    
    div#side-slider-con {
        margin: 0;
        display: none;
    }
    
    #sides > div > div.side-content {
        margin: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-top: none;
        box-sizing: border-box;
        height: 100%;
        padding: 20px;
        position: relative;
    }
    
    .product-info .review .text {
        width: auto;
        max-width: 200px;
    }
    
    .product_under-img-con {
        margin: 2% 3%;
        margin-bottom: 0px;
        width: 94%;
        box-sizing: border-box;
        box-shadow: 0px 6px 7px #e4e1da;
    }
    
    .product_underpro {
        width: 94%;
        box-sizing: border-box;
        margin: 0px 3%;
        margin-bottom: 2%;
        background-size: 100% 16px;
    }
    
    .cooker {
        padding: 10px;
        margin: 0% 3% 8% 3%;
        width: 94%;
        box-sizing: border-box;
        border: #e2e1e0 1px solid;
        box-shadow: 0px 6px 7px #e4e1da;
    }
    
    .cooker .name {
        padding-top: 3px;
    }
    
    div#cook-products {
        display: none;
    }
    
    .product-info .cooker .avatarcon {
        position: relative;
        margin: 0 auto;
    }

    .product-info {
        overflow: hidden;
        margin: 0;
    }
    
    .mobile-show{
        display: inline;
    }
    
    
    
    /**** homepage ***/
    
    div.info-title {
        padding: 20px 0px 0px 0px;
        line-height: normal;
        height: initial;
        font-size: 22px;
    }
    div.info-body {
        width: 100%;
        padding: 15px 4px;
        box-sizing: border-box;
        height: initial;
    }
    
    div#info-three {
        margin-bottom: 20px;
    }
    
    div.info-body-number {
        height: 30px;
        width: 30px;
        font-size: 18px;
        line-height: 30px;
        margin: 0 10px;
        float: right;
    }
    
    div.info-body-title {
        font-size: 25px;
        text-align: center;
        height: initial;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
    }
    
    div.info-body-text {
        font-size: 14px;
        padding: 7px;
        text-align: right;
    }
    
    div.info-body {
        padding: 5px 4px;
    }
    
    div#info-one {
        margin-top: 15px;
    }
    
    div#info-two {
        margin: 0;
    }
    
    #procook-con {
        display: none;   
    }
    
    .shadow {
        background: none;
    }
    
    div.back-img {
        display: none;
    }
    
    div#search-controller-con {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('/image/cache/hp/1-1600x1200.jpg') #372c2a;
        display: inline-block;
        background-size: cover;
        background-position: 50% 50%;
    }
    div#search-controller-con:after {
        padding-top: 64.25%;
        display: block;
        content: '';
    }
    
    div#search-controller {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 23% 25px 0px 25px;
        box-sizing: border-box;
        
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.8) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.8) 100%); /* W3C */        
    }
    
    input#hp-search-input {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    
    button#hp-search-btn {
        position: relative;
        width: 220px;
        margin: 0;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }
    
    div#controller {
        text-align: center;
    }
    
    div#title {
        font-size: 30px;
        line-height: normal;
        height: initial;
        text-align: center;
    }
    
    div#subtitle {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        margin-bottom: 10px;
    }
    
    div.health-title {
        padding: 20px 0px 0px 0px;
        line-height: normal;
        height: initial;
        font-size: 22px;
    }
    
    div.cooks-title {
        padding: 20px 0px 10px 0px;
        line-height: normal;
        height: initial;
        font-size: 22px;
        width: 100%;
        box-sizing: border-box;
    }
    
    div#cooks {
        width: 100%;
    }
    
    input#newsletter-city, input#newsletter-firstname , input#newsletter-lastname {
        display: none;
    }
    
    div#newsletter-title {
        font-size: 22px;
        font-weight: normal;
        padding-top: 20px;
    }
    
    div#newsletter-text {
        font-size: 14px;
        padding: 10px 0 10px 0;
    }
    
    button#newsletter-send {
        height: 35px;
        width: 100px;
        background: #469794;
        border: none;
        border-radius: 7px;
        font-size: 18px;
        font-family: 'Alef';
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
    }
    
    div.cooks-body {
        width: 100%;
        padding: 0px 0px 0px 20px;
        box-sizing: border-box;
        text-align: right;
    }
    
    div.cooks-body-picture {
        height: 60px;
        width: 60px;
        float: right;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    div.cooks-body-text {
        font-size: 14px;
        line-height: normal;
        margin-top: 30px;
        padding-right: 20px;
        text-align: justify;
    }
    
    div.cooks-body-name {
        font-size: 18px;
        margin-top: 26px;
        margin-bottom: 5px;
        font-weight: normal;
    }

    div.cooks-body-picture img {
        height: 100%;
    }
    
    div#cooks-two {
        margin: 0;
    }
    
    div.health-body {
        width: 100%;
        height: initial;
        margin: auto;
        padding: 5px 20px;
        box-sizing: border-box;
    }
    
    div.health-body-logo {
        height: 70px;
        width: 70px;
        background-size: 40px;
        margin: 15px 0px 20px 10px;
    }
    
    div.health-body-text {
        float: none;
        width: 100%;
        margin-top: 15px;
        font-size: 14px;
        margin-bottom: 20px;
        height: initial;
    }
    
    #newsletter-con input {
        margin-bottom: 0px;
        margin-left: 10px;
        width: 190px;
        height: 35px;
    }
    
    div#footer-newsletter {
        height: 153px;
    }
    
    /*******************************
     *  COOK PROFILE
     *      COOK PROFILE
     *          COOK PROFILE
     ***********************************/
    
    .ms-catalog-seller-profile .ms-sellerprofile .seller-description .description {
        width: 100%;
        height: inherit;
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .seller-description {
        width: 100%;
        height: inherit;
        box-sizing: border-box;
        position: relative;
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .description span.short, .ms-catalog-seller-profile .ms-sellerprofile .description .read-more, .ms-catalog-seller-profile .ms-sellerprofile .description .read-less {
        display: none;
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .description span.long {
        display: block;
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .seller-data {
        width: 100%;    
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .seller-description .images {
        width: 100%;
        height: inherit;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 100%;
    }
    
    .ms-sellerprofile .seller-description .images img{
        width: 100%;
    }
    
    #tab-products {
        margin: 0;
        padding: 0;
    }
    
    #content {
        margin: 0;
    }
    
    #content > div.twothireds {
        width: 100%;
        margin-right: 0px;
        margin-top: 250px;
    }

    .go-to-add{
        display: none; /* was inline */
    }
    
    #seller-tabs > a.selected > img {
        left: 45%;
    }
    
    .product-info .review .product-name {
        width: 180px;
    }
    
    div#hp-header-con {
        position: fixed;
        height: 50px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    }
    
    div#homepage-con {
        /*padding-top: 50px;*/
    }
    
    div#hp-header-logo {
        height: 50px;
        text-align: center;
        width: 100%;
        position: relative;
    }
    
    div div#limitbox {
        width: 300px;
        padding: 20px;
        box-sizing: border-box;
    }
    
    #column-left-cook {
        float: right;
        width: 100%;
    }
    
    aside #cook-badge {
        width: 100%;
    }
    
    div.add-to-dorder {
        margin: 0;
        padding: 10px;
    }
    
    /**********************
     *  CART
     *      CART
     *          CART
     *              CART
     **********************/
    
    #notification {
        height: auto;
    }

    .success {
        width: 100%;
        height: inherit;
    }
    
    .success #closed-cart-button, .success .closebtn {
        left: 10px;
    }
    
    .success .itemsinbag {
        width: 100%;
        height: inherit;
        float: none;
    }
    
    .success .itemsinbag .bagitems {
        float: none;
        margin: auto;
    }
    
    .success .recentadded {
        width: 100%;
        padding: 10px 25px;
        min-height: 80px;
        float: none;
        box-sizing: border-box;
    }
    
    .success .summary {
        width: 100%;
        height: inherit;
        padding: 10px;
        padding-bottom: 0px;
        margin-right: 0;
        float: none;
        box-sizing: border-box;
    }
    
    .success .summary .summary-up {
        height: inherit;
        margin-right: 15px;
        padding-bottom: 10px;
    }
   
    .success .itemsinbag .recentadded .avatar {
        display: none;
    }
    
    div #supercheckout-fieldset {
        height: 640px;
        width: 320px;
    }
    
    div#open-checkout {
        width: 100%;
        height: 100%;
    }
    
    div#colorbox {
        margin-top: 0px;
        top: 0 !important;
    }
    
    div #supercheckout-fieldset #supercheckout-columnleft {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    div #supercheckout-fieldset #columnleft-1 , div #supercheckout-fieldset #columnleft-3 {
        height: auto;
    }
    
    div#review-box {
        width: 300px;
        padding: 20px 10px;
        box-sizing: border-box;
    }
    
    #review-box .review-meal-controler {
        height: inherit;
    }
    
    .review-meal-controler .side-dish {
        margin-right: 0px;
        margin-top: 20px;
    }
    
    #open-checkout div #paypalicons {
        height: 23px;
        margin-top: 24px;
        background: url(../image/homeals/paypalicons.png);
        width: 251px;
    }
    
    #open-checkout #supercheckout-fieldset .supercheckout-blocks, .blocks {
        width: 270px;
        margin: auto;
    }
    
    #open-checkout #supercheckout-fieldset div div.homeals-summary, #open-checkout #supercheckout-fieldset div div.homeals-coupon-input
    , #open-checkout #supercheckout-fieldset div div.homeals-payment {
        width: 270px;
        margin: auto;
    }
    
    #open-checkout #supercheckout-fieldset div.supercheckout-threecolumns div.supercheckout-column-left,
    #open-checkout #supercheckout-fieldset div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
        margin-left: 0px !important;
        padding: 0px !important;
        margin-right: 0px !important;
    }
    
    div #open-checkout #supercheckout-fieldset div.onestepcheckout-threecolumns #columnleft-1 {
        padding: 35px 0px !important;
    }
    
    div #edit-cart {
        padding-right: 0px;
        z-index: 14;
    }
    
    div .qna {
        padding: 0;
    }
    
    div #info-header {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    
    .float-how {
        position: initial;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .howtopic {
        width: 100%;
    }
    
    .float-how > h1 {
        position: initial;
        float: none;
        width: 100%;
        margin: 0;
    }

    .float-how > p {
        position: initial;
        float: none;
        width: 100%;
    }
    
    #footer-main {
        height: initial;
    }
    
    div#footer-main-logo {
        display: none;
    }
    
    .float-right {
        position: initial;
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    
    #main > div > div.page-main > div.trust {
        display: none;
    }
    
    #main > div > div.page-main > div.join-form {
        position: initial;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }
    
    #main > div > div.page-main > div.join-text {
        width: 100%;
        float: none;
    }
    
    div#search-homeals {
        display: none;
    }
    
    #trustslide , #howslide , #joinslide {
       display: none;
    }
    
    div#footer-main-followus {
        margin-top: 10px;
        margin-bottom: 15px;
        display: block;
        float: none;
    }
    
    div.health-fotter , div.cooks-fotter, div.info-fotter {
        display: none;
    }
        
    .ms-sellerprofile .seller-data div.info-box {
        width: 100%;
    }
    
    .ms-sellerprofile .seller-data div.info-box .tab-split {
        width: 0px;
    }
    
    .ms-catalog-seller-profile .ms-sellerprofile .seller-data div.info-box .tab {
        width: 50%;
    }
    
    span#epilog-links {
        display: none;
    }
    
    div#footer-search {
        padding: 20px;
        text-align: center;
        border-top: 1px solid #e7e3dc;
        border-bottom: 1px solid #ffffff;
        display: none;
    }
    div#search-title {
        width: 220px;
        background: #e7604a;
        border: 0;
        border-radius: 10px;
        margin: auto;
        color: #ffffff;
        font-family: 'Alef';
        font-weight: bold;
        outline: none;
        cursor: pointer;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }
    
    .swiper-container {
        width: 100%;
        height: 260px;
        margin-bottom: 20px;
        direction: ltr;
    }
    
    .side-swiper-container {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
        direction: ltr;
    }
    
    .side-img > img {
        width: 100%;
    }
    .side-img {
        width: 95%;
        position: relative;
    }
    
    div#content div.product-info div.left.product-image div#tab-sides {
        margin: 5% 0;
        width: 100%;
    }
        
    .swiper-slide {
        width: 280px;
        height: 100%;
    }
    
    .top_button {
        display: none;
    }
    
    div#footer-epilog {
        border-bottom: 3px solid #e7604a;
        background: none;
        padding: 0;
        height: inherit;
    }
    div#homepage-footer {
        background-color: #FFF;
    }
    
    
    .mobilebr{
        display: inline;
    }
    
    div.singleline, div.dubbleline {
        display: none;
    }
    
    div#cooks {
        background: none;
        border-top: 1px solid #ffffff;
        -webkit-box-shadow: inset 0 10px 15px 0 #ebebeb;
        box-shadow: inset 0 10px 15px 0 #ebebeb;
    }
    
    div#info {
        border-bottom: 1px solid #e7e3dc;
    }
    
    a.a_menu_needhelp{
        background: url('../image/homeals/spticon.png') no-repeat;
        background-position: 15px 50%;
        background-size: 20px;
    }
    
    div.menu-line {
        padding: 1em;
        border-bottom: 1px solid #e7e3d9;
    }
    div.menu-line > div > span {
        display: block;
    }
    div.menu-line > div > span > a {
        border: 0;
        padding: 0;
        display: initial;
        font-size: inherit;
    }
    div.menu-line > div > img {
        height: 30px;
        float: left;
    }
    
    /*******************************************
     *  Product page
     ******************************************/
    
    #container #header-container .headershadow {
        margin: 0;
        display: none;
    }
    
    .product-header .right {
        display: none;
    }
    
    .product-header {
        
        background: #f8f5ef;
        padding: 20px 15px;
        border-bottom: 1px solid #efeae1;
        border-radius: 0;
        margin-top: 5% !important;
    }
    
    #content-wrapper > div.content-inner {
        width: auto;
        margin: 0;
    }
    
    #tab-cats {
        padding: 10px;
        text-align: center;
    }
    
    #tab-cats > div.pro-cat {
        width: inherit;
        float: none;
        margin: 0;
        display: inline-block;
    }
    
    #user-name {
        float: none;
        max-width: inherit;
        text-align: right;
        overflow: hidden;
        line-height: 15px;
        font-size: 14px;
        margin:0;
    }
    
    #tab-ingredients , #tab-description {
        padding: 0px 20px 20px 20px;
        background: #ffffff;
    }
    
    #content hr {
        display: none;
    }
    
    .product-image h3 {
        text-align: center;
    }
    
    h1.item.name.fn {
        margin: 0;
        padding: 20px;
        text-align: center;
    }
    
    div#tab-sides {
        background: #fffdf7;
    }
    
    #sides > div > div.side-content > div.name {
        font-size: 18px;
        margin-bottom: 0;
        position: absolute;
        top: -30px;
        box-sizing: border-box;
        max-width: 100%;
    }
    
    #sides > div > div.side-content > div.name > a {
        color: #ffffff;
    }
    
    div.aboutus-right {
        display: none;
    }
    div.aboutus-left {
        width: 100%;
        padding: 0px 10px;
    }
    div.about-me {
        width: 100%;
    }
    div.about-me-pic {
        margin: auto;
    }
    img.title {
        width: 100%;
    }
    
    div#day-quant-error {
        right: 0;
    }
    div#day-quant-error:after {
        display: none;
    }
    
    .add-meal-con {
        padding: 20px 10px;
        background: #fff;
        border-bottom: 1px solid #efeae1;;
    }
    
    div#add-meal-btn {
        width: 220px;
        margin: auto;
        background: #e7604a;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        color: #fff;
        height: 35px;  
        line-height: 35px;
        border-radius: 10px;
        font-weight: bold;
    }
    
    .oppsite-tab {
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    div.reviews {
        background: #fff;
        margin: 0;
        padding: 10px;
        padding-top: 0px;
    }
    .product-info > .left {
        margin-bottom: 0;
    }
    
    div div.left.product-image {
        margin-bottom: 0px;
    }
    span#city {
        display: none;
    }
    div#cook-contact {
        height: inherit;
        border: none;
        background: none;
    }
    
    #cook-contact input#button-pm {
        margin-top: 0px;
    }
    
    section#content-wrapper {
        padding-top: 55px;
    }
    header#header-container {
        top: inherit;
    }
    
    div#open-checkout #supercheckout-fieldset div.supercheckout-threecolumns div#columnleft-1 {
        padding-bottom: 50px;
    }
    
    div#content div.product-info div.left.product-image > div {        
        margin: 0% 3% 5% 3%;
        width: 94%;
        box-sizing: border-box;
        border: #e2e1e0 1px solid;
        box-shadow: 0px 6px 7px #e4e1da;
    }
    
    .product-info .image {
        float: none;
    }
    
    div#tab-cats-tags {
        background: #fff;
    }
    
    #tab-ingredients-sides > h3 {
        text-align: right;
    }
    
    .swiper-slide .side-content .name a {
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }
    
    .go-back {
        width: 50px;
        height: 46px;
        line-height: 46px;
        display: inline-block;
        position: absolute;  
        right: 0;
        top: 0;
        box-sizing: border-box;
        font-size: 26px;
        color: #bcbcbc;
        text-align: center;
    }
    
    .product-info-tags {
        margin:0px;
    }
    
    .onethireds {
        display: none;
    }
    
    #open-checkout #supercheckout-fieldset div div.homeals-payment {
        padding-bottom: 175px;
    }
    
    div#join-newsletter {
    width: 310px;
    /* height: 300px; */
    }
    
    .lightbox-homeals, div#review-box{
        width: 300px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    div#thank-you-banner {
        display: none;
    }
    .thank-you-right {
        display: none;
    }
    .thank-you-main {
        margin: 0px;
        padding: 0px;
    }
    div#content {
        margin-top: 10px !important;
    }
    h1.link-homeals {
        display: none;
    }
    a.friends-button {
        display: none !important;
    }
    .pre-order-deal {
        margin-top: 30px;
    }
    span.success-menu-span {
        display: block;
        margin-left: 10px;
    }
    h1.success-title {
        padding: 0px 10px 5px 10px;
    }
    .order-is-in {
        padding: 0px 10px;
    }
    a#button-success-gotomeals {
        float: none;
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    div#button-success-gotomeals-con{
        text-align: center;
    }
    p.bigger.mobile-hide {
        display: none;
    }
    li:first-child {
        display: none;
    }
    h1.homeals-h1 {
        line-height: 25px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
    
    
}

/* Smartphones (IPHONE5) ----------- */
@media only screen 
and (max-width : 320px) {
    
    .product-info .review .text {
        width: auto;
        max-width: 170px;
    }
    
    #supercheckout-fieldset .supercheckout-threecolumns input[type='text'].homeals-delivery-address {
        padding-right: 0px !important;
        text-indent: 10px;
    }
    
    #supercheckout-fieldset .supercheckout-threecolumns .homealscheckout-half input[type="text"] {
        padding-right: 0px !important;
        text-indent: 10px;
    }
    
    #supercheckout-fieldset .supercheckout-threecolumns .homealscheckout input[type="text"] {
        padding-right: 0px !important;
        text-indent: 10px;
    }
    
    #supercheckout-fieldset .supercheckout-threecolumns textarea#supercheckout-comment_order{
        
        width: 265px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0.5em 1em;
        direction: rtl;
        overflow:hidden
        -webkit-appearance: none;
        
    }
    
    #content .product-grid-list .product-block-inner .underpro {
        background: url("../image/homeals/underpro.png") no-repeat scroll center top transparent;
        background-size: contain;
        width: 312px;
        height: 22px;
    }
    
    .under-img-con {
        background: #ffffff;
        width: 310px;
        border: 1px solid #e5e4e1;
        margin-left: -6px;
        box-sizing: border-box;
    }
    
    .under-img-con > div.probox > div.namepro > span.namecon {
        width: 220px;
        overflow: hidden;
    }
    
    #content .product-grid-list .product-block {
        width: 310px;
        margin: auto;
    }
    
    #content .product-grid-list .product-block-inner .image {
        width: 310px;
        height: 198px;
        box-sizing: border-box;
    }
    
    .product-grid-list .image img {
        width: 310px;
        height: 198px;
        box-sizing: border-box;
    }
    
    .product-grid-list .pro_filter {
        width: 310px;
        height: 198px;
    }
    
}