<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <h1><?php echo $heading_title; ?></h1>
  <?php echo $text_message; ?>
  
  <?php echo $content_bottom; ?></div>


<script>//<!--
  
    var rtrn = getURLVar('rtrn');
    var return_url = atob(decodeURIComponent(rtrn));
    
    setTimeout(function(){
        location.href = return_url;
    },500);
  
//--></script>

<?php echo $footer; ?>