/* table alignment style override */
#content .content table.list .left {
	width: auto;
	float: none;
}

.checkout-content .buttons {
	width: 98% !important;
	margin-top: 10px;
	display: inline-block;
}

#content .buttons {
	width: 98%;
	margin-top: 10px;
	display: inline-block;
}

.ms-account-dashboard table.list tbody td,
.ms-account-orders table.list tbody td {
	vertical-align: middle;
}

table.list tbody td, table.list thead td  {
	text-align: center;
	padding: 7px;
}

.ms-totals {
	position: absolute;
	bottom: 3px;
	left: 0;
	font-weight: bold;
	color: #38B0E3;
}

.ffSample {
	display: none;
}

.ms-form .content {
	position: relative;
}

.ms-overlay {
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	z-index: 100;
	background-color:#EEE;
	opacity: 0.5;
	position: absolute;
}

.ms-product div.error {
	margin-top: 5px;
}

.ms-product div.error p {
	margin: 0;
}

.ms-account-product-form p.warning.main,
.ms-account-profile p.warning.main {
	display: none;
}

.ms-product .progress div .ui-widget-content,
.ms-product .progress div .ui-widget-header {
	background-image: none !important;
	border: 1px solid #6db1f2;
	background-color: #92c6f9 !important;
}

.ms-product .progress div.ui-progressbar {
	margin: 10px 0;
	height: 20px;	
}

.ms-product .progress div.ui-progressbar div.label {
    float: left;
    width:100%;
    text-align:center;
    margin-top: 3px;
    font-weight: bold;
}

.ms-product .progress {
	width: 100%;
	height: 100%;
	display: none;
}

.ms-product .scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.ms-product .scrollbox img {
	float: right;
	cursor: pointer;
}

.ms-product .scrollbox div {
	padding: 3px;
}
.ms-product .scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.ms-product .scrollbox div.even {
	background: #FFFFFF;
}
.ms-product .scrollbox div.odd {
	background: #E4EEF7;
}

.ms-product .scrollbox div.odd.disabled {
	background: #EDEDED;
	color: #848484; 
}

.ms-product .scrollbox div.even.disabled {
	background: #F8F8F8;
	color: #848484; 
}

.ms-product tr > td {
	padding-bottom: 10px;
	vertical-align: top;
}

.ms-product tr td:first-child {
	padding-top: 5px;
	width: 150px;	
}

.ms-product input[type='text'] {
	width: 200px;
}

.ms-product textarea {
	width: 400px;
	height: 100px;
}

.ms-product .ms-image {
	position:relative;
	display: inline-block;
	border: 1px solid #EEEEEE;
	margin: 0 5px;
}

.ms-product .ms-download {
	margin: 10px 0;
	height: 30px;
	clear: both;
}

.ms-product .ms-download-name {
	font-weight: bold;
	background: #ffffff url(../image/ms-tick.png) no-repeat left top;
	display: inline-block;
	padding-left: 40px;
	line-height:30px;
}

.ms-account-product-form #tab-specials .ms-button-delete,
.ms-account-product-form #tab-discounts .ms-button-delete {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.ms-product .ms-download .ms-buttons {
	display: inline-block;
	float: right;
}

.ms-product .ms-download .ms-buttons a,
.ms-product .ms-download .ms-buttons span.disabled {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-product .ms-button-upload {
	color: white;
	height: 25px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: url('../image/button.png') top left repeat-x;
	text-align: center;
	
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
}

.ms-product .ms-download .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-product .ms-download .ms-button-delete.disabled {
	background-image: url(../image/ms-cross-bw.png);
}

.ms-product .ms-download .ms-button-update {
	background-image: url(../image/ms-refresh.png);
}

.ms-product .ms-download span.ms-button-update.disabled {
	background-image: url(../image/ms-refresh-bw.png);
}

.ms-product .uploadify-queue {
	display: none;
}

.ms-product .ms-download .ms-button-pdf {
	background-image: url(../image/ms-pdf.png);
}

.ms-product .ms-download .ms-button-download {
	background-image: url(../image/ms-arrowdown.png);
}

.ms-product .ms-download .ms-button-download.disabled {
	background-image: url(../image/ms-arrowdown-bw.png);
}

.ms-product .ms-remove {
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
	background: url('../image/remove.png');
	cursor: pointer;
}

.ms-account-product-form .attention.ms-commission span,
.ms-account-profile .attention.ms-commission span {
	font-weight: bold;
}

.ms-account-product-form #general-tabs {
	margin-bottom: 2px;
}

.ms-language-div {
	border: 1px solid #EEEEEE;
	border-top: none;
}

.ms-note {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 0;
}

.ms-sellerprofile.description {
	color: black;
	border-bottom: 0;
	width: auto;
}

.ms-sellerprofile.description span {
	color: #38B0E3;
}

.ms-pending {
	color: #AAA;
}

#ms-withdrawal input[type='radio'], #ms-withdrawal span {
	vertical-align: middle;
	margin: 0;
}

#ms-withdrawal tr:first-child + tr td:first-child + td {
	padding-top: 5px;
}

#ms-withdrawal p {
	margin-bottom: 10px;
}


/* comments */

#tab-comments .content span.comment {
    display: block;
    font-weight: bold;
}

#tab-comments .reviews_icon {
    font-size:28px;
    margin-bottom:15px;
    border-bottom:#adaba7 1px solid;
    padding-bottom:10px;
}

#tab-comments .content { 
    width:469px; 
    float:left;
    border:none;
    border-bottom:#E4DCD5 1px solid;
    background:none;
}

#tab-comments .content .comment-name {
    font-weight: bold;
}

#tab-comments .content .comment-date {
    display:block;
}

#tab-comments .content .comment-content {
    
}	

#pcCommentlist #pagination {
    margin: 20px auto;
    float: left;
    left: 50%;
    position: relative;
    
}

#pcCommentlist #pagination ul {
    float: left;
    position: relative;
    right: 50%;
}

/* seller profile */
.ms-sellerprofile {
	width: 100%;
    box-shadow:0px 6px 7px #e4e1da;
    background:#FEFBF6;
}

.ms-sellerprofile .seller-data {
	background-color: #fff;
	width: 300px;
	height: 378px;
	display: inline-block;
	float: right;
	text-align: center;
	padding-top: 25px;
	position: relative;
	border-left: #e2e1e0 1px solid;
}

.read-more,.read-more:visited {
    color: #469794;  font-size: 16px; display: block;
	margin-top: 8px;
}
.read-less,.read-less:visited {
    color: #469794;  font-size: 16px; display: none;
	line-height: 35px;
}

.ms-sellerprofile .seller-data > div {
	display: inline;
}

.ms-sellerprofile .seller-data div.avatar-box {
	text-align: center
}

.ms-sellerprofile .seller-data div.avatar-box img {
	width:133px;
    height:133px;
    border-radius:100%;
	border: 7px solid #e5e0d5;
}

.ms-sellerprofile .seller-data div.avatar-box h2 {
    color:#e7604a;
    font-size:20px;
}

.ms-sellerprofile .seller-data div.avatar-box a {
    color:#469794;
    font-size:16px;
    display:block;
    text-decoration: underline;
    outline: none;
}

.ms-sellerprofile .seller-data div.info-box {
	position:absolute;
    bottom:0;
    left:0;
}

.ms-sellerprofile .seller-data .speciallities {
    width:75%;
    margin:0 auto;    
}

.ms-sellerprofile .seller-data .speciallities h3 {
    color:#e7604a;
    margin:0;
    padding:0;
}

.ms-sellerprofile .seller-data div.info-box .tab {
	color: #372c2a;
	width: 149px;
	height: 60px;
	border-top: #e7604a 4px solid;
	text-align: center;
	padding-top: 10px;
	float: right;
	background: #f4f1ea;
}
a.tablink {
    color: #372C2A !important;
    text-decoration: none !important;
}
a.tablink:hover {
    text-decoration: underline !important;
}
.ms-sellerprofile .seller-data div.info-box .tab-split{
	width: 2px;
	height: 60px;
	border-top: #fff 4px solid;
	background: #fff;
	float: right;
}
.ms-sellerprofile .seller-data div.info-box .tab.last { 
	width: 149px;
}
.ms-sellerprofile .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellerprofile .seller-data div.info-box a {
	color: #38B0E3;
	text-decoration: underline;
}
.hide-next-image {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
}
.ms-sellerprofile .seller-description {
    float:right;
    width:678px;
	height: 350px;
    border-top:#e7604a 3px solid;
    padding:25px 20px 25px 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	/*user-select: none;*/
}

.ms-sellerprofile .description .long{
	display: none;
}

.ms-sellerprofile .seller-description h1 {
    color:#000;
    font-size:30px;
    margin-bottom:15px;
    text-transform:none;    
}

.ms-sellerprofile .seller-description .right {float: left;}

.ms-sellerprofile .seller-description .description {
	margin-top: -5px;
	font-size: 120%;
	width: 213px;
	text-align: justify;
	line-height: 21px;
	height: 300px;
	overflow: hidden;
	float: right;
}

.ms-sellerprofile .seller-description .description-header {
    height: 55px;
}

.ms-sellerprofile .seller-description .images {
    float:left;
    width:435px;
	height: 300px;
	overflow: hidden;
}

.images .my-images {
    display: none;
}

.images .selected {
	cursor: pointer;
    display: block;
}

.my-images .next-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
.next-image .next {
	display: none;
	position: absolute;
	top: 133px;
	left: 0;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.5) url("../image/homeals/arrow-left.png") no-repeat 5px -7px;
}
.next-image:hover .next {
	display: block;
}

.my-images {
    position: relative;
}

.my-images .prev-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.prev-image:hover .prev {
	display: block;
}
.prev-image .prev {
	display: none;
	position: absolute;
	top: 133px;
	width: 40px;
	height: 40px;
	right: 0;
	background: rgba(0,0,0,0.5) url("../image/homeals/arrow-right.png") no-repeat 8px;
}

.ms-sellerprofile .seller-data div.ms-badges img {
	border: 0;
}


/* seller list */
.seller-filter {
	margin-bottom: 5px;
}

.ms-sellerlist {
	width: 100%;
}

.ms-sellerlist > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}

.ms-sellerlist > div {
    margin-bottom: 15px;
    overflow: auto;
}


.ms-sellerlist .seller-data {
	width: 100%;
	clear: both;
	margin-bottom: 15px;
	display: inline-block;
}

.ms-sellerlist .seller-data > div {
	display: inline;
	float: left;
}

.ms-sellerlist .seller-data div.avatar-box {
	width: 10%;
	text-align: center
}

.ms-sellerlist .seller-data div.avatar-box .name {
	margin-bottom: 3px;
}

.ms-sellerlist .seller-data div.avatar-box .name a {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
}

.ms-sellerlist .seller-data div.info-box {
	width: 20%;	
	margin: 15px 0 0 15px;
}

.ms-sellerlist .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellerlist .seller-description {
	width: 60%;
	margin: 15px 0 0 15px;
	text-align: justify;
}


/* seller-tabs */

#seller-tabs {
    margin-top:20px;
}


/* seller grid */
.ms-sellergrid {
	width: 100%;
}

.ms-sellergrid > div {
    margin-bottom: 15px;
    overflow: auto;
}

.ms-sellergrid .seller-data {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 20px;
    vertical-align: top;
    width: 130px;
}


.ms-sellergrid .seller-data > div {
	display: inline;
	float: left;
}

.ms-sellergrid .seller-data div.avatar-box {
	width: 100%;
	text-align: left;
}

.ms-sellergrid .seller-data div.avatar-box .name {
	margin-bottom: 3px;
}

.ms-sellergrid .seller-data div.avatar-box .name a {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
}

.ms-sellergrid .seller-data div.info-box {
	width: 100%;	
	margin: 15px 0 0 0;
}

.ms-sellergrid .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellergrid .seller-description {
	width: 60%;
	margin: 15px 0 0 15px;
	text-align: justify;
}

.ms-carousel ul li a {
    color: #38B0E3;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
}

.ms-carousel .jcarousel-container {
    margin-bottom: 0;
}

.ms-carousel .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}

/* general dialog styles */

.ms-jquery-dialog,
div.ms-jquery-dialog.ui-widget-content,
.ms-jquery-dialog div.ui-widget-content {
	background-color: white;
}
.ui-widget-overlay{
	background: #666666 !important;
}

.ms-jquery-dialog .ui-widget-header,
.ms-jquery-dialog .ui-state-hover {
	background: #fff;
	border: 0px solid #BBBBBB;
	color: #666666;
	border-radius: 0;
}

.ms-jquery-dialog .ui-widget-header .ui-icon,
.ms-jquery-dialog .ui-state-hover .ui-icon,
.ms-jquery-dialog .ui-state-focus .ui-icon {
	background-image: url("../../../javascript/jquery/ui/themes/base/images/ui-icons_222222_256x240.png");
	border: medium none;
	float: right;
}


.ms-jquery-dialog .ui-widget-content.ui-dialog-buttonpane {
	border-top: none;
}

.ms-jquery-dialog .ui-dialog-buttonset {
	text-align: center;
	padding: 10px 0;
}

/* general dialog form styles */

.ms-jquery-dialog p.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}

.ms-jquery-dialog .ms-form {
	width: 100%;
}

.ms-jquery-dialog .ms-form label {
	margin-left: 20px;
	width: 115px;
	vertical-align: top;
}

.ms-jquery-dialog .ms-form input {
	width: 250px;
}

.ms-jquery-dialog .ms-form textarea {
	width: 250px;
	height: 150px;
}

.ms-jquery-dialog .ms-form label,
.ms-jquery-dialog .ms-form input,
.ms-jquery-dialog .ms-form textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	z-index: 99999;
}

/* Seller rate form */

.ms-seller-rate-dialog .ms-form {
	width: 96%;
}

.ms-seller-rate-dialog .ms-form textarea {
	width: 250px;
	height: 50px;
}

.ms-seller-rate-dialog .ms-form label {
	font-weight: bold;
	display: inline-block;
}

.ms-seller-rate-dialog .ms-form .ratings {
	display: inline;
	font-weight: normal;
}

.ms-seller-rate-dialog .ms-form .ratings input[type=radio], .ms-seller-rate-dialog .ms-form .ratings input.radio, .ms-seller-rate-dialog .ms-form .ratings span {
	display:inline;
	width: 20px;
	padding: 0;
	margin:0;
	vertical-align: center;
	position: relative;
	top: 5px;
	*overflow: hidden;
}

/* seller contact form */

.ms-sellercontact-image {
	text-align: center;
}

.ms-sellercontact-image img {
	padding: 3px;
	border: 1px solid #E7E7E7;		
}

.ms-sellercontact-image a {
	text-decoration: none;
	outline: none;		
}

.ms-sellercontact-dialog h3,
.ms-sellercontact-dialog h4 {
	text-align: center;
	margin: 20px 0;
}

#ms-captcha {
	display: inline;
}


/* pdf generator form */

.ms-pdfgen-dialog .ms-form label {
	margin-left: 20px;
	width: 60px;
	vertical-align: top;
}

.ms-pdfgen-dialog .ms-form input {
	width: 50px;
}

.ms-pdfgen-dialog .ms-form label,
.ms-pdfgen-dialog .ms-form input {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.ms-pdfgen-dialog .ms-form span.ms-filename {
	font-weight: bold;
	width: 220px;
	display: inline-block;
	margin: 3px 0;
}


/* seller account product list*/
.ms-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-account-product table.list tbody td {
	vertical-align: middle;
}

.ms-account-product-form .ms-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 0;
}

.ms-account-product-form .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-button-view {
	//background-image: url(../image/ms-magnifier.png);
}

.ms-button-publish {
	background-image: url(../image/ms-plus.png);
}

.ms-button-unpublish {
	background-image: url(../image/ms-minus.png);
}

.ms-button-edit {
	background-image: url(../image/ms-pencil.png);
}

.ms-button-clone {
	background-image: url(../image/ms-clone.png);
}

.ms-button-relist {
	background-image: url(../image/ms-relist.png);
}

.ms-button-delete {
	background-image: url(../image/ms-cross.png);
}


.ms-account-order .products p,
.ms-account-dashboard .products p {
	display: inline-block;
	width: 100%;
	margin: 0;
}

.ms-account-order .products .name,
.ms-account-dashboard .products .name {
	float: left;
}

.ms-account-order .products .total,
.ms-account-dashboard .products .total {
	float: right;
}

ul.ms-sellermenu.graphical li {
	text-align: center;
	width: 16.5%;
	height: 128px;
	display: inline-block;
	float: left;
}

ul.ms-sellermenu.graphical li img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 96px;
	height: 96px;
}

ul.ms-sellermenu.graphical li a {
	text-decoration: none;
	font-weight: bold;
}

/* seller dashboard */

.ms-account-dashboard h2,
.ms-account-transaction h2 {
	text-align: center;
	clear: both;
	margin: 10px;
}

.ms-account-dashboard .overview,
.ms-account-dashboard .stats,
.ms-account-dashboard .nav {
  position: relative;
  float: left;
  width: 33%;	
}

.ms-account-dashboard .stats p, .ms-account-dashboard .stats h3,
.ms-account-dashboard .nav a, .ms-account-dashboard .nav h3 {
	padding-left: 40px;
}

.ms-account-dashboard .overview .nickname {
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
}

.ms-account-dashboard .overview p,
.ms-account-dashboard .stats p {
	margin-bottom: 5px;
}

.ms-account-dashboard .nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	margin-bottom: 5px;
	height: 32px;
}

.ms-account-dashboard .nav a span {
	font-weight: bold;
	vertical-align: middle;
}

.ms-account-dashboard .nav a img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
}

.ms-account-dashboard table.list.comments {
	text-align: center;
}

.ms-account-dashboard table.list.comments tr {
	height: 25px;
}

.ms-account-dashboard table.list.comments .name {
	width: 200px;
}

.ms-account-dashboard table.list.comments .product {
	width: 150px;
}

.ms-account-dashboard table.list.comments .date {
	width: 75px;
}


/*
 *
 * datatables 
 *
 */

.dataTables_length, .dataTables_filter {
	display: inline-block;
	margin-bottom: 5px;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
}


.dataTables_wrapper table.dataTable {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate {
	float: left;
}

.dataTables_wrapper .dataTables_info {
	float: right;
	clear: right;
}

/* table cell sizes*/
table .tiny {
	width: 50px;
}

table .small {
	width: 75px;
}

table .medium {
	width: 125px;
}

table .large {
	width: 200px;
}

table .filter input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.dataTables_filter {
	display: none;
}

table.list thead td.right {
	text-align: center;
}

.dataTables_wrapper .paging_full_numbers a.paginate_button,
.dataTables_wrapper .paging_full_numbers a.paginate_button:hover,
.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3 !important;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0 2px;	
}

.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #269BC6;
	color: #269BC6 !important;
}

.dataTables_wrapper .paging_full_numbers .paginate_button_disabled {
	display: none;
}

.ms-account-conversation .ms-read {
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.ms-account-conversation-view .ms-messages {
	border: 0px solid #000000;
	border-spacing: 5px;
	/*border-collapse: separate;*/
}

.ms-account-conversation-view .ms-message-head {
	font-style: italic;
	border-bottom: 2px solid #ddd;	
}

.ms-account-conversation-view .ms-message-row {
	width: 100%;
	display: inline-block;
	border-bottom: 1px dotted #EEEEEE;
	padding: 10px 0;
}

.ms-account-conversation-view .ms-message {
	float: left;
	display: inline-block;
}

.ms-account-conversation-view .ms-message-sender {
	width: 200px;
	font-weight: bold;
}

.ms-account-conversation-view .ms-message-head .ms-message-sender {
	font-weight: normal;
}

.ms-account-conversation-view .ms-message-date {
	width:150px;
	float: right;
}

.ms-account-conversation-view .ms-message-text {
	width: 500px;
}
.avatars-list input {
    display: none;
}
.avatars-list label {
    padding: 5px;
}
.avatars-list div {
    float: left;
    margin: 5px;
}
.avatars-list img {
    cursor: pointer;
}
.avatars-list label span {
    display: block;
    width: 100px;
    height: 100px;
}
.avatars-group {
    overflow: hidden;
}