body div {
    box-shadow: none !important;
}

html {
    font: 16px/1 'Alef';
    overflow: auto;
    padding: .5in;
}

html {
    background: #999;
    cursor: default;
}

body {
    box-sizing: border-box;
    min-height: 11in !important;
    margin: 0 auto !important;
    overflow: hidden;
    padding: .5in;
    width: 8.5in !important;
    background: #FFF !important;
    border-radius: 1px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,.3);
}

#header-placeholder {
    display: none !important;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    html {
        background: 0 0;
        padding: 0;
    }

    body {
        box-shadow: none;
        margin: 0;
    }

    span:empty {
        display: none;
    }

    .add,.cut {
        display: none;
    }
}

@page {
    margin:.5in;
}

header#header-container {
    display: none !important;
}
div#homepage-footer {
    display: none !important;
}
.order-details-boxy-shadow {
    background: none !important;
}
.avatarcon {
    display: none !important;
}
.order-details-boxy > div:first-child {
    border-top: none !important;
}
.product-right-img {
    display: none !important;
}
.product-left {
    margin-right: 0 !important;
}
.order-details-boxy > div {
    background: #fff !important;
}
a#inbox-bread {
    display: none !important;
}
span#conversation-chevron {
    display: none;
}
.print {
    float: left;
    display: inline-block;
    text-decoration: underline;
    font-size: 18px;
}
.content-inner{
    width: 100%;
}
.print-width {
    width: 100%;
    margin: auto;
}
