<?php echo $header; ?><?php /* echo $column_left; ?><?php echo $column_right; */?>
<div id="right-margin"></div>
<div id="content"><?php echo $content_top; ?>

    <div class="pre-order-deal">
    <h1 class="homeals-h1" ><?php echo $heading_deal; ?></h1>
    <a href="index.php?route=product/category&path=0" class="homeals-button"><?php echo $button_continue; ?></a>
    </div>
  
  
  <?php echo $content_bottom; ?></div>

<?php echo $footer; ?>