.tm-hide { cursor:pointer;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/* IE 8 */
  filter: alpha(opacity=0);  /* IE 5-7 */
  -moz-opacity: 0;/* Netscape */
  -khtml-opacity: 0;/* Safari 1.x */
  -webkit-opacity:0; /* other webkit*/
  opacity: 0;/* Good browsers */
}
.tm-checkbox {
	background: url("../../image/select.png") no-repeat scroll 0px 0px transparent;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.tm-radio {
	background:url("../../image/radio.png") no-repeat scroll 0px 0px transparent;
	display:inline-block;
	padding: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	cursor:pointer;
}
.tm-radio input[type="radio"] , .tm-checkbox input[type="checkbox"] {
	width: 25px;
	height: 25px;
}
 
.tm-checked { background-position: -29px 0px; cursor: pointer; }
.tm-selected { background-position: -29px 0px; cursor:pointer; }

.tm-checkbox-green {
	background: transparent url('../../img/megnor/checkbox-green.png') 0 1px no-repeat;
	display:inline-block; 
}
.ie7 .tm-checkbox-green,.ie8 .tm-checkbox-green,.ie9 .tm-checkbox-green	,
.ie7 .tm-checkbox, .ie8 .tm-checkbox,.ie9 .tm-checkbox,
.ie7 .tm-radio,.ie8 .tm-radio,.ie9 .tm-radio{display: inline;zoom: 1}

.tm-checked-green { background-position: 0 -18px; }
.ie7 .tm-checkbox, .ie8 .tm-checkbox,.ie9 .tm-checkbox{height:18px; width:18px; margin-top:-2px; }
.ie7 .tm-radio,.ie8 .tm-radio,.ie9 .tm-radio {height:18px; width:12px;  }

/* -------------
 * Selects
 * ------------- */
/* Custom Select*/
span.customSelect {
	
	padding:3px 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	border: 1px solid #d4d4d4;
	background-color: #fff;
	color: #777;
	text-decoration: none;
	white-space: nowrap;
	text-align:left;
}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectOpen {-moz-box-shadow: #bbb 0 0 3px;
  -webkit-box-shadow: #bbb 0 0 3px;
  box-shadow: #bbb 0 0 3px;}

.customSelectInner {
	background:url('../../image/megnor/select-arrow-down.gif') no-repeat center right;
}
.customSelectOpen .customSelectInner{ background:url('../../image/megnor/select-arrow-up.gif') no-repeat center right;  }

/*RESPONSIVE TABLE*/
.table-responsive { display:none; visibility:hidden;}	
.tm_responsive_container,
.tm_responsive_container_footer{ width:auto; overflow:hidden;}

.tm_responsive_group{
	float:left; 
    margin: 1%;
    padding: 3%;
    width: 92%; 
	border:1px solid #ededed;
	color:#4D4D4D;
	background:#FBFBFB  
}
.tm_responsive_row label{
  width: 100px;
  display:block;
  float:left;
  font-weight: bold;
}
.tm_responsive_row span{
  width: 250px;
  display:block;
  float:left;
}
.tm_responsive_row{
 overflow:hidden;
 border-bottom: 1px solid #EEEEEE;
 padding:10px 0;
}
/*RESPONSIVE TABLE*/


/* TREEVIEW CATEGORY LEFT */
.treeview-list, .treeview-list ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.treeview-list ul {
	background:none; 
	margin:0px;
}
.treeview-list .hitarea {
	background: none;
	height: 9px;
	width: 9px;
	float: right;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea { display: inline;float:none; }
.treeview-list li { margin: 0; }
.treeview-list a.selected { background-color: #eee; }

.treeview-list .hover { color:#69c5c2; cursor: pointer; }
.treeview-list li a:hover,.treeview-list li.nav-1 a:hover	 {   cursor:pointer; }
.treeview-list li ul li:hover	{ background:none;}
.treeview-list li a { display:inline;  padding-left:0px; }
.treeview-list li.active a	{ font-weight:bold; /*color:#D09E00 ;*/  } 
.treeview-list li.active ul li a	{ font-weight:normal; color:#5E5E5E;}
.treeview-list li a:hover  {/*color:#D09E00;*/ } 	
.treeview-list li ul li a:hover	{/*color:#D09E00;*/ } 	
.treeview-list li ul li { background:none; border-bottom:none; }
.treeview-list .collapsable .expandable-hitarea { 
	background: url(../../image/homeals/sprite.png) no-repeat scroll -42px -130px transparent;
    height: 16px;
    width: 16px;  margin: 5px 0 0;
} 
.treeview-list .expandable .collapsable-hitarea{ 
	background: url(../../image/homeals/sprite.png) no-repeat scroll -13px -131px transparent;
    height: 16px;
    width: 16px;  margin: 5px 0 0;
} 

.treeview-list .expandable-hitarea { 
	background: url(../../image/homeals/sprite.png) no-repeat scroll -13px -131px transparent;
    height: 16px;
    width: 16px;  margin: 5px 0 0;
} 
.treeview-list .collapsable-hitarea { 
	background: url(../../image/homeals/sprite.png) no-repeat scroll -42px -130px transparent;
    height: 16px;
    width: 16px;  margin: 5px 0 0;
} 
/* TREEVIEW CATEGORY LEFT */


/* FancyBox */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../image/megnor/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../../image/megnor/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../../image/megnor/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../../image/megnor/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

.zoomContainer .zoomLens{
	cursor: url(../../image/megnor/zoom.png), pointer !important;
	border:none !important;
	opacity:0 !important;
}
.zoomContainer .zoomWindow{

	border:2px solid #E7DDD6 !important;
	-webkit-box-shadow: 3px 4px 4px -1px #999999;
	-moz-box-shadow: 3px 4px 4px -1px #999999;
	box-shadow: 3px 4px 4px -1px #999999;

}

/* FancyBox */

.last_item_tm .product-block{}
.first_item_tm .product-block{}


.toggle .mobile_togglemenu{ 
	background:url("../../image/megnor/toggle-arrow.png") no-repeat scroll right 4px transparent;
	display:block;
	cursor:pointer;
	width:100%;  
	margin-top: -21px;  
	overflow: hidden;
	padding:0 0 10px;
}
.active .mobile_togglemenu { background-position:right -48px; }
#footer .mobile_togglemenu:hover	{ text-decoration:none;}

/* Responsive menu Css Start */
	.nav-responsive span { display:inline-block;}
	.ie7 .nav-responsive span { display:inline;}
	.nav-responsive { cursor:pointer; display:none;  }
	.main-navigation  ul  li{ list-style:none; position:relative;}
	.nav-responsive .expandable{
		background: url("../../image/homeals/sprite.png") no-repeat scroll -27px -165px transparent;
		 height: 25px;
		margin-top: 15px;
		width: 30px;	
	} 
	.responsive-menu { padding:0; position:relative;}
	.responsive-menu .main-navigation{ 
		position:absolute; 
		z-index:999;  
		display:none; 
		margin-top:-3px; 
		padding:1%;
		width:98%; 
		list-style:none;
	}
	.responsive-menu .main-navigation ul{padding-left:20px;}
	.nav-responsive div,
	.responsive-menu .hitarea {
		background: none;
		height: 9px;
		width: 9px;
		float: right;
		cursor: pointer;
		margin-right:15px;
	}
	.responsive-menu .expandable .collapsable-hitarea{ 
		background: url("../../image/homeals/sprite.png") no-repeat scroll -42px -130px transparent;
		height: 16px;
		width: 16px;
		margin-top:6px
	} 
	.responsive-menu .expandable-hitarea { 
		background:url("../../image/homeals/sprite.png") no-repeat scroll -13px -131px transparent;
		height: 16px;
		width: 16px;margin-top:6px
	} 
	.responsive-menu .collapsable-hitarea { 
		background: url("../../image/homeals/sprite.png") no-repeat scroll -42px -130px transparent;
		height: 16px;
		width: 16px;margin-top:6px
	} 

/* Responsive menu Css End */