/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	border-top: 2px solid #000;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #372c2a;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background-color: #efefef;
	color: #d53f3e;
}

.cbp-spmenu a:active {
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #e7e3d9;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -200px;
}

.cbp-spmenu-right {
	right: -200px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	-moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 200px;
}

.blackout{
	-webkit-filter: brightness(10%);
	-moz-filter: brightness(10%);
	filter: brightness(10%);
}

.cbp-spmenu-push-toleft {
	left: -200px;
}

.menu_head{
	padding: 0;
	margin: 0;
	height: 48px;
	text-align: center;
	border-top: 2px solid #e7604a;
	box-sizing: border-box;
}
.menu_head a{
	padding: 0;
	margin: 0;
	height: 46px;	
}
.menu_head a:hover{
}
.menu_head img{
	padding: 0;
	margin: 0;
	height: 50px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push,
#hp-header-con , #header-container{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}