/* table alignment style override */
#content .content table.list .left {
	width: auto;
	float: none;
}

.ms-account-dashboard table.list tbody td,
.ms-account-orders table.list tbody td {
	vertical-align: middle;
}

table.list td, table.list thead td  {
	text-align: center;
	padding: 7px;
}

.ms-totals {
	position: absolute;
	bottom: 3px;
	left: 0;
	font-weight: bold;
	color: #38B0E3;
}

.ffSample {
	display: none;
}

.ms-form .content {
	position: relative;
}

.ms-overlay {
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	z-index: 100;
	background-color:#EEE;
	opacity: 0.5;
	position: absolute;
}

.ms-product div.error {
	margin-top: 5px;
}

.ms-product div.error p {
	margin: 0;
}

.ms-account-product-form p.warning.main {
	display: none;
}

.ms-product .progress div .ui-widget-content,
.ms-product .progress div .ui-widget-header {
	background-image: none !important;
	border: 1px solid #6db1f2;
	background-color: #92c6f9 !important;
}

.ms-product .progress div.ui-progressbar {
	margin: 10px 0;
	height: 20px;	
}

.ms-product .progress div.ui-progressbar div.label {
    float: left;
    width:100%;
    text-align:center;
    margin-top: 3px;
    font-weight: bold;
}

.ms-product .progress {
	width: 100%;
	height: 100%;
	display: none;
}

.ms-product .scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.ms-product .scrollbox img {
	float: right;
	cursor: pointer;
}

.ms-product .scrollbox div {
	padding: 3px;
}
.ms-product .scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.ms-product .scrollbox div.even {
	background: #FFFFFF;
}
.ms-product .scrollbox div.odd {
	background: #E4EEF7;
}

.ms-product .scrollbox div.odd.disabled {
	background: #EDEDED;
	color: #848484; 
}

.ms-product .scrollbox div.even.disabled {
	background: #F8F8F8;
	color: #848484; 
}

.ms-product tr > td {
	padding-bottom: 10px;
	vertical-align: top;
}

.ms-product tr td:first-child {
	padding-top: 5px;
	width: 150px;	
}

.ms-product input[type='text'] {
	width: 200px;
}

.ms-product textarea {
	width: 400px;
	height: 100px;
}

.ms-product .ms-image {
	position:relative;
	display: inline-block;
	border: 1px solid #EEEEEE;
	margin: 0 5px;
}

.ms-product .ms-download {
	margin: 10px 0;
	height: 30px;
	clear: both;
}

.ms-product .ms-download-name {
	font-weight: bold;
	background: #ffffff url(../image/ms-tick.png) no-repeat left top;
	display: inline-block;
	padding-left: 40px;
	line-height:30px;
}

.ms-account-product-form #tab-specials .ms-button-delete,
.ms-account-product-form #tab-discounts .ms-button-delete {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.ms-product .ms-download .ms-buttons {
	display: inline-block;
	float: right;
}

.ms-product .ms-download .ms-buttons a,
.ms-product .ms-download .ms-buttons span.disabled {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-product .ms-button-upload {
	color: white;
	height: 25px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: url('../image/button.png') top left repeat-x;
	text-align: center;
	
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
}

.ms-product .ms-download .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-product .ms-download .ms-button-delete.disabled {
	background-image: url(../image/ms-cross-bw.png);
}

.ms-product .ms-download .ms-button-update {
	background-image: url(../image/ms-refresh.png);
}

.ms-product .ms-download span.ms-button-update.disabled {
	background-image: url(../image/ms-refresh-bw.png);
}

.ms-product .uploadify-queue {
	display: none;
}

.ms-product .ms-download .ms-button-pdf {
	background-image: url(../image/ms-pdf.png);
}

.ms-product .ms-download .ms-button-download {
	background-image: url(../image/ms-arrowdown.png);
}

.ms-product .ms-download .ms-button-download.disabled {
	background-image: url(../image/ms-arrowdown-bw.png);
}

.ms-product .ms-remove {
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
	background: url('../image/remove.png');
	cursor: pointer;
}

.ms-account-product-form .attention.ms-commission span,
.ms-account-profile .attention.ms-commission span {
	font-weight: bold;
}

.ms-account-product-form #general-tabs {
	margin-bottom: 2px;
}

.ms-language-div {
	border: 1px solid #EEEEEE;
	border-top: none;
}

.ms-note {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 0;
}

.ms-sellerprofile.description {
	color: black;
	border-bottom: 0;
	width: auto;
}

.ms-sellerprofile.description span {
	color: #38B0E3;
}

.ms-pending {
	color: #AAA;
}

#ms-withdrawal input[type='radio'], #ms-withdrawal span {
	vertical-align: middle;
	margin: 0;
}

#ms-withdrawal tr:first-child + tr td:first-child + td {
	padding-top: 5px;
}

#ms-withdrawal p {
	margin-bottom: 10px;
}


/* comments */

#tab-comments .content span.comment {
    display: block;
    font-weight: bold;
}

#tab-comments .content .comment-name {
    font-weight: bold;
}

#tab-comments .content .comment-date {
    float: right;
}

#tab-comments .content .comment-content {
    margin: 10px;
}	

#pcCommentlist #pagination {
    margin: 20px auto;
    float: left;
    left: 50%;
    position: relative;
    
}

#pcCommentlist #pagination ul {
    float: left;
    position: relative;
    right: 50%;
}

/* seller profile */
.ms-sellerprofile {
	width: 100%;
}

.ms-sellerprofile .seller-data {
	width: 100%;
	display: inline-block;
}

.ms-sellerprofile .seller-data > div {
	display: inline;
	float: left;
}

.ms-sellerprofile .seller-data div.avatar-box {
	text-align: center
}

.ms-sellerprofile .seller-data div.avatar-box img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}

.ms-sellerprofile .seller-data div.info-box {
	margin: 20px 0 0 20px;
}

.ms-sellerprofile .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellerprofile .seller-data div.info-box a {
	color: #38B0E3;
	text-decoration: underline;
}

.ms-sellerprofile .seller-description {
	clear: both;
	margin: 40px 0;
}

/* seller list */
.seller-filter {
	margin-bottom: 5px;
}

.ms-sellerlist {
	width: 100%;
}

.ms-sellerlist > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}

.ms-sellerlist > div {
    margin-bottom: 15px;
    overflow: auto;
}


.ms-sellerlist .seller-data {
	width: 100%;
	clear: both;
	margin-bottom: 15px;
	display: inline-block;
}

.ms-sellerlist .seller-data > div {
	display: inline;
	float: left;
}

.ms-sellerlist .seller-data div.avatar-box {
	width: 10%;
	text-align: center
}

.ms-sellerlist .seller-data div.avatar-box .name {
	margin-bottom: 3px;
}

.ms-sellerlist .seller-data div.avatar-box .name a {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
}

.ms-sellerlist .seller-data div.info-box {
	width: 20%;	
	margin: 15px 0 0 15px;
}

.ms-sellerlist .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellerlist .seller-description {
	width: 60%;
	margin: 15px 0 0 15px;
	text-align: justify;
}


/* seller grid */
.ms-sellergrid {
	width: 100%;
}

.ms-sellergrid > div {
    margin-bottom: 15px;
    overflow: auto;
}

.ms-sellergrid .seller-data {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 20px;
    vertical-align: top;
    width: 130px;
}


.ms-sellergrid .seller-data > div {
	display: inline;
	float: left;
}

.ms-sellergrid .seller-data div.avatar-box {
	width: 100%;
	text-align: left;
}

.ms-sellergrid .seller-data div.avatar-box .name {
	margin-bottom: 3px;
}

.ms-sellergrid .seller-data div.avatar-box .name a {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
}

.ms-sellergrid .seller-data div.info-box {
	width: 100%;	
	margin: 15px 0 0 0;
}

.ms-sellergrid .seller-data div.info-box p {
	margin: 5px 0;
}

.ms-sellergrid .seller-description {
	width: 60%;
	margin: 15px 0 0 15px;
	text-align: justify;
}

.ms-carousel ul li a {
    color: #38B0E3;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
}

.ms-carousel .jcarousel-container {
    margin-bottom: 0;
}

.ms-carousel .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}

/* general dialog styles */

.ms-jquery-dialog,
div.ms-jquery-dialog.ui-widget-content,
.ms-jquery-dialog div.ui-widget-content {
	background-color: white;
}

.ms-jquery-dialog .ui-widget-header,
.ms-jquery-dialog .ui-state-hover {
       background: url("../../../javascript/jquery/ui/themes/base/images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #CCCCCC;
       border: 1px solid #BBBBBB;
       color: #666666;
       border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;	
   
}

.ms-jquery-dialog .ui-widget-header .ui-icon,
.ms-jquery-dialog .ui-state-hover .ui-icon,
.ms-jquery-dialog .ui-state-focus .ui-icon {
	background-image: url("../../../javascript/jquery/ui/themes/base/images/ui-icons_222222_256x240.png");
	border: medium none;
    float: right;
}


.ms-jquery-dialog .ui-widget-content.ui-dialog-buttonpane {
	border-top: none;
}

.ms-jquery-dialog .ui-dialog-buttonset {
	text-align: center;
	padding: 10px 0;
}

/* general dialog form styles */

.ms-jquery-dialog p.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}

.ms-jquery-dialog .ms-form {
	width: 100%;
}

.ms-jquery-dialog .ms-form label {
	margin-left: 20px;
	width: 115px;
	vertical-align: top;
}

.ms-jquery-dialog .ms-form input {
	width: 250px;
}

.ms-jquery-dialog .ms-form textarea {
	width: 250px;
	height: 150px;
}

.ms-jquery-dialog .ms-form label,
.ms-jquery-dialog .ms-form input,
.ms-jquery-dialog .ms-form textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}


/* seller contact form */

.ms-sellercontact-image {
	text-align: center;
}

.ms-sellercontact-image img {
	padding: 3px;
	border: 1px solid #E7E7E7;		
}

.ms-sellercontact-image a {
	text-decoration: none;
	outline: none;		
}

.ms-sellercontact-dialog h3,
.ms-sellercontact-dialog h4 {
	text-align: center;
	margin: 20px 0;
}

#ms-captcha {
	display: inline;
}


/* pdf generator form */

.ms-pdfgen-dialog .ms-form label {
	margin-left: 20px;
	width: 60px;
	vertical-align: top;
}

.ms-pdfgen-dialog .ms-form input {
	width: 50px;
}

.ms-pdfgen-dialog .ms-form label,
.ms-pdfgen-dialog .ms-form input {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.ms-pdfgen-dialog .ms-form span.ms-filename {
	font-weight: bold;
	width: 220px;
	display: inline-block;
	margin: 3px 0;
}


/* seller account product list*/
.ms-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-account-product table.list tbody td {
	vertical-align: middle;
}

.ms-account-product-form .ms-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 0;
}

.ms-account-product-form .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-button-view {
	background-image: url(../image/ms-magnifier.png);
}

.ms-button-publish {
	background-image: url(../image/ms-plus.png);
}

.ms-button-unpublish {
	background-image: url(../image/ms-minus.png);
}

.ms-button-edit {
	background-image: url(../image/ms-pencil.png);
}

.ms-button-delete {
	background-image: url(../image/ms-cross.png);
}


.ms-account-order .products p,
.ms-account-dashboard .products p {
	display: inline-block;
	width: 100%;
	margin: 0;
}

.ms-account-order .products .name,
.ms-account-dashboard .products .name {
	float: left;
}

.ms-account-order .products .total,
.ms-account-dashboard .products .total {
	float: right;
}

ul.ms-sellermenu.graphical li {
	text-align: center;
	width: 16.5%;
	height: 128px;
	display: inline-block;
	float: left;
}

ul.ms-sellermenu.graphical li img {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 96px;
	height: 96px;
}

ul.ms-sellermenu.graphical li a {
	text-decoration: none;
	font-weight: bold;
}

/* seller dashboard */

.ms-account-dashboard h2 {
	text-align: center;
	clear: both;
	margin: 10px;
}

.ms-account-dashboard .overview,
.ms-account-dashboard .stats,
.ms-account-dashboard .nav {
  position: relative;
  float: left;
  width: 33%;	
}

.ms-account-dashboard .stats p, .ms-account-dashboard .stats h3,
.ms-account-dashboard .nav a, .ms-account-dashboard .nav h3 {
	padding-left: 40px;
}

.ms-account-dashboard .overview .nickname {
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
}

.ms-account-dashboard .overview p,
.ms-account-dashboard .stats p {
	margin-bottom: 5px;
}

.ms-account-dashboard .nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	margin-bottom: 5px;
	height: 32px;
}

.ms-account-dashboard .nav a span {
	font-weight: bold;
	vertical-align: middle;
}

.ms-account-dashboard .nav a img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
}

.ms-account-dashboard table.list.comments {
	text-align: center;
}

.ms-account-dashboard table.list.comments tr {
	height: 25px;
}

.ms-account-dashboard table.list.comments .name {
	width: 200px;
}

.ms-account-dashboard table.list.comments .product {
	width: 150px;
}

.ms-account-dashboard table.list.comments .date {
	width: 75px;
}