/* OC 1.5.x */
.product-info .option > b > small, label.control-label > small{
    font-size: smaller;
    display: block;
    font-weight: normal;
}
.product-info .option > span.required + b > small, div.required > label.control-label > small{
    /*text-indent:1em;*/
    margin-left:1em;
}
.product-info .option label small{
    font-size: smaller;
    display: block;
    font-weight: normal;
    /*text-indent:2.5em;*/
    margin-left:2.5em;
    
}
