@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alef-Bold.woff') format('woff'),
         url('../fonts/Alef-Bold.ttf') format('truetype'),
         url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alef-Regular.woff') format('woff'),
         url('../fonts/Alef-Regular.ttf') format('truetype'),
         url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html , body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}

table {
    float: right;
    width: 30%;
    margin: 1%;
    direction: rtl;
}

#main-con {
   direction: rtl;
    width: 1024px;
    margin: auto;
}

div#change-date {
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

div#header {
    text-align: center;
    font-size: 40px;
}

body {
    background: url("../images/bg.png") repeat scroll 0 0 #f9f6ee;
    font-family: 'Ubuntu','Alef',Arial,Helvetica,sans-serif;
}

.inside{
   background: url("../images/bg.png") repeat scroll 0 0 #f9f6ee; 
}

div#title {
    float: left;  width: 624px;  line-height: 100px;
}
div#homeals-logo {
    float: left;
    height: 100px;
}
div#quicky-logo {
    float: right;
    height: 100px;
}

input[type="text"] {
    width: 100%;
}

td.pressable img {
    vertical-align: middle;
    height: 20px;
    padding-top: 5px;
    cursor: pointer;
}

select#status-filter {
    min-width: 585px;
}

div#status-filter-con {
    float: right;
}

#main-con .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;
}

table.dataTable tbody tr.showny,table.dataTable tbody tr.showny:hover{
    background: whitesmoke;
}
div#plan-title {
    text-align: right;
    font-size: 2em;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
}
div#plan-header {
    background-color: #fff;
    box-shadow: 0px 0px 20px #e4e1da;
    border-top: 2px solid #e7604a;
    height: 65px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.right-side {
    height: 100%;
    width: 30%;
    float: right;
    box-sizing: border-box;
    background: #f8f5ef;
    border-left: 1px solid #efeae1;
    box-shadow: 0px 0px 20px #efeae1;
}
div#plan-main-con {
    height: 100%;
    box-sizing: border-box;
    padding-top: 65px;
}
.left-side {
    width: 70%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
}
.inner-left-side , .inner-right-side {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
#plan-change-date{
    text-align: center;
    font-size: 30px;
}
.time-scale {
    width: 100px;
    float: right;
}
.driver-con {
    width: 180px;
    float: right;
    margin: 0px 20px;
    position: relative;
    direction: rtl;
}
.time-slot {
    height: 60px;
    box-sizing: border-box;
    background: snow;
    font-size: 0.9em;
    border: 2px solid #e7604a;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
    border-radius: 3px;
}
ol.single-slot {
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid #efefef;
    background: #fff;
    z-index: 1;
    position: relative;
}
.placeholder {
    height: 60px;
    box-sizing: border-box;
    padding: 25px 0px;
    background: #fff;
    /*margin-bottom: 30px;*/
    border: 2px dotted #e7604a;
}

.driver-header {
    padding-bottom: 40px;
}
.time-scale .time-slot {
    background: none;
    border: none;
    color: #e2e1e0;
    padding: 22px 0px;
    margin-bottom: 30px;
    height: 62px;
}
.inner-right-side .time-slot {
    margin-bottom: 10px;
}
.inner-right-side .driver-header {
    padding: 20px 0px;
}
.pickup-con {
    box-sizing: border-box;
    width: 45%;
    float: right;
    margin-left: 10%;
}
.drop-con {
    box-sizing: border-box;
    width: 45%;
    float: right;
}
.time-slot.drop-slot {
    border-color: #69c5c2;
}

/*******************************************
 *
 *	order list css
 *
 *******************************************/
body.dragging, body.dragging * {
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move !important;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragged {
    position: fixed !important;
    opacity: 0.9;
    z-index: 2000;
}

.disabled {
    color: #c0c0c0;
    border-color: #c0c0c0 !important;
}

ol.time-window li.placeholder {
    position: relative;
    /** More li styles **/
}
.time-window {
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-height: 60px;
    border-radius: 3px;
}
ol.time-window li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

.street-name {
    height: 29px;
    box-sizing: border-box;
    padding: 6px 10px 0px 10px;
    text-align: right;
}
.num-of-meals {
    height: 29px;
    box-sizing: border-box;  
    padding: 0px 10px 8px 10px;  
    text-align: left;
}
.vertical-line {
    height: 100%;
    width: 1px;
    background: #efeae1;
    top: 35px;
    position: absolute;
    left: 50%;
    z-index: 0;
}
span.time-window {
    float: right;
    font-size: 0.9em;
    line-height: 2.1em;
    height: initial;
    min-height: initial;
    background: none;
}

.time-window.multi-slot {
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #efeae1;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.pickup-con span.time-window,.drop-con span.time-window {
    display: none;
}

.multi-slot li:first-child {
    margin-top: 0;
    position: relative;
    z-index: 2;
}

.multi-slot li {
    /*margin-top: -37px;*/
    position: relative;
}

span.num {
    float: left;
    padding: 6px 0px;
}

.extra-data{
    display: none;
    font-size: 0.95em;
}

/*****************
 *  tooltip
 ********************/
div.qtip-content {
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 360px;
    height: 288px;
    max-height: 320px;
    box-sizing: border-box;
    border: 1px solid #efeae1;
    box-shadow: 0px 6px 7px #e4e1da;
    color: #372C2A;
    border-radius: 3px;
    text-align: right;
    direction: rtl;
    background: #f8f5ef;
}

div.qtip {
    max-width: 350px;
    box-sizing: border-box;
    border: 0px;
}
.order-more {
    padding: 10px 15px;
    border-top: 1px solid #efeae1;
}
.order-id {
    float: right;
    margin-left: 60px;
}
.title {
    font-weight: bold;
}
.qtip-tip {
    display: none !important;
}
.extra-data-status-con {
    padding: 10px 15px;
    border-bottom: 1px solid #efeae1;
}
.extra-data-address-con {
    padding: 10px 15px;
}
.driver-select {
    width: 130px;
}
.status-select{
    width: 130px;
    float: left;
}
div#legend {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    /* padding: 12px 0px; */
    font-size: 0.9em;
    box-sizing: border-box;
}
div#legend-pickup {
    height: 8px;
    width: 40px;
    background-color: #69c5c2;
    display: inline-block;
}
div#legend-drop {
    height: 8px;
    width: 40px;  
    background-color: #e7604a;
    display: inline-block;
}
.extra-data-address-con .phone {
    display: inline-block;
    float: left;
}
.add-ol {
    display: block;
    position: absolute;
    background: #fff;
    height: 22px;
    width: 22px;
    line-height: 18px;
    border-radius: 100%;
    border: 1px solid #efeae1;
    color: #efeae1;
    box-sizing: border-box;
    margin: -25px 78px;
    cursor: pointer;
}
.remove-ol:hover, .add-ol:hover {
    background: #efeae1;
    color: #C9C0AF;
    border-color: #C9C0AF;
}

.remove-ol {
    display: block;
    position: absolute;
    height: 22px;
    width: 22px;
    line-height: 20px;
    border: 1px solid #efeae1;
    border-radius: 100%;
    color: #efeae1;
    box-sizing: border-box;
    margin: -78px 189px 0px 0px;
    cursor: pointer;
}

.key {
    height: 100%;
    position: relative;
    padding: 10px 0px;
    box-sizing: border-box;
    float: right;
}
.key > div {
    height: 100%;
    border: 2px solid;
    width: 60px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
    display: table;
    padding: 0px 5px;
    background: snow;
}

.key > div > span {
    display: table-cell;    vertical-align: middle;
    font-size: 0.85em;
}
div#legend-cook {
    border-color: #e7604a;
}
div#legend-onway-cook {
    border-color: #D6184E;
}
div#legend-pickedup {
    border-color: #B81BCE;
    margin-left: 20px;
}
div#legend-dinner {
    border-color: #69c5c2;
}
div#legend-onway-dinner {
    border-color: #4E99D5;
}
div#legend-delivered {
    border-color: #76D494;
}
.extra-data strong {
    font-weight: normal;
}
.order-meal-num {
    text-align: left;
}
.extra-data > div > div {
    margin-bottom: 4px;
}

span.msg {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    color: #C7C4C1;
}

.loading-screen {
    display: none;
    width: 100%;
    height: 100%;
    background: #FFFFFF url("../images/loading.gif") no-repeat center center;
    opacity: 0.85;
    position: fixed;
    z-index: 90000;
}

div#homeals-logo-right {
    float: right;  
    margin-right: 50px;
    margin-left: 20px;
    height: 65px;
}

div#homeals-logo-right > img {
    height: 65px;
}