@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Alef-Bold.woff') format('woff'),
    url('../fonts/Alef-Bold.ttf') format('truetype'),
    url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Alef-Regular.woff') format('woff'),
    url('../fonts/Alef-Regular.ttf') format('truetype'),
    url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix{
    from{ 	opacity: 1; }
    to{	opacity: 1; }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu','Alef',Arial,Helvetica,sans-serif;
    direction: rtl;
}

.page-con {
    position: relative;
    width: 700px;
    height: 100%;
    margin: auto;
}

.msg-con {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 70px 30px 30px 30px;
    /* -webkit-box-shadow: 0px 0px 30px 0px rgba(70, 70, 70, 0.75); */
    -moz-box-shadow:    0px 0px 30px 0px rgba(70, 70, 70, 0.75);
    /* box-shadow:         0px 0px 30px 0px rgba(70, 70, 70, 0.75); */
    box-sizing: border-box;
    margin-bottom: 40px;
}

.msg-con .msg-image {
    width: 640px;
    height: 325px;
    background-color: #efefef;
    margin-bottom: 30px;
}

.msg-body {

}

.msg-body .msg-left {
    position: relative;
    width: 200px;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #e8e7e6;
}

.msg-body .msg-left .inner {
    background: url('../images/left-bg.png');
    padding: 20px 20px 30px 20px;
    margin-bottom: 5px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.msg-body .btn a {
    background: url('../images/land-btn.png');
    width: 185px;
    height: 42px;
    line-height: 40px;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: #372c2a;
}

.msg-body .btn a:active,.msg-body .btn a:visited {
    color: #372c2a;
}

.msg-body .msg-right {
    width: 440px;
    float: right;
    text-align: right;
    box-sizing: border-box;
    padding-left: 28px;
}

.logo-con {
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

.logo-con img {
    vertical-align: middle;
    height: 110px;
}

#intro h1 {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: -1px;
}
.msg-con p {
    line-height: 30px;
    font-size: 18px;
    color: #695d5b;
}

.red {
    color: #dc3d3d;
    font-weight: bold;
    text-decoration: none;
}

.msg-con ul {
    list-style: none;
    padding: 0;
    color: #695d5b;
}

.msg-con li {
    background: url('../images/listdec.png') no-repeat right 0px;
    padding-right: 50px;
    height: 35px;
    padding-bottom: 10px;
    line-height: 35px;
    font-size: 18px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 0px;
}

h3 {
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -0.7px;
    line-height: 18px;
}

.text-box {
    border-top: 2px solid #dc3d3d;
    border-bottom: 2px solid #dc3d3d;
    text-align: center;
    padding-bottom: 11px;
    color: #dc3d3d;
}

span#line1 {
    font-size: 47px;
}
span#line2 {
    font-size: 70px;
    line-height: 20px;
}
span#line3 {
    font-size: 44px;
    line-height: 25px;
}
span {
    font-size: 14px;
}
span#line4 {
    font-size: 83px;
    line-height: 53px;
    font-family: 'alef';
    margin-top: 10px;
    display: inline-block;
}
span#line6 {
    display: inline-block;
    font-size: 60px;
    line-height: 0;
    margin-top: 30px;
}
span#line5 {
    font-size: 44px;
    letter-spacing: 9px;
    line-height: 26px;
    text-align: right;
    margin-right: -10px;
    display: inline-block;
}
span#line7 {
    font-size: 44px;
    letter-spacing: 5px;
    line-height: 33px;
}
span#line8 {
    font-size: 39px;
    letter-spacing: -1px;  line-height: 26px;
}

div.shadow {
    width: 205px;
    height: 19px;
    background: url('../images/shadow.png');
    position: absolute;
    bottom: -20px;
    left: -3px;
}




/*****************************************
 *
 *
 *****************************************/

div#footer-main-logo {
    text-align: center;
    margin-bottom: 25px;
}
#footer-main ul {
    text-align: center;
    height: 20px;
    margin: auto;
    padding: 0;
    display: inline-block;
    font-size: 14px;
}
#footer-main li {
    float: right;
    margin: 0 15px;
    list-style-type: none;
}
div#footer-main-links {
    text-align: center;
    margin-bottom: 45px;
}
#footer-epilog .right {
    width: 47%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
}

#footer-epilog .center {
    width: 5%;
    display: inline-block;
    text-align: center;
}

#footer-epilog .left {
    width: 40%;
    display: inline-block;
    text-align: right;
}

#footer-epilog .left a{
    margin-left: 20px;
    text-decoration: underline;
    color: #372c2a !important;
}
#footer-epilog .left a:hover {
    color: #e7604a !important;
}

#footer-main ul li a {
    color: #372c2a !important;
}
#footer-main ul li a:hover {
    color: #e7604a !important;
}
div#followus-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
div#followus-body {
    height: 30px;
    margin: auto;
    text-align: center;
}
div#followus-body a {
    text-decoration: none;
}
div#footer-epilog {
    height: 82px;
    background: url("../../catalog/view/theme/OPC040088/image/homeals/epilog.png") repeat-x rgba(0,0,0,0.05);
    padding-top: 40px;
    box-sizing: border-box;
}
div#footer-main-followus {
    margin-bottom: 30px;
}

div#followus-body > a > div {
    background: url("../../catalog/view/theme/OPC040088/image/homeals/social.png") no-repeat;
    height: 42px;
    width: 42px;
    margin: auto;
    display: inline-block;
    transition: background-image .3s;
}

div#followus-body > a  > div#facebook-follow {
    background: url("../../catalog/view/theme/OPC040088/image/homeals/social.png") no-repeat 0px -44px;
}
div#followus-body > a > div#insta-fllow {
    background-position: -57px -44px;
}
div#followus-body > a  > div#saloona-fllow {
    background-position: -115px -44px;
}

div#followus-body > a  > div#facebook-follow:hover {
    background: url("../../catalog/view/theme/OPC040088/image/homeals/social.png") no-repeat 0px 0px;
}
div#followus-body > a  > div#insta-fllow:hover {
    background-position: -57px 0px;
}
div#followus-body > a  > div#saloona-fllow:hover {
    background-position: -115px 0px;
}






.code {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.codeitself {
    color: #dc3d3d;
    font-weight: bold;
}


.smalltext {
    color: #695d5b;
}
.signup-input-div {
    width: 300px;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
div#signup-div {
    padding-top: 10px;
    padding-bottom: 10px;
}
.clear {
    text-align: center;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}
input.email {
    height: 43px;
    width: 100%;      border-radius: 7px;  padding: 5px 10px;  font-size: 16px;  font-family: 'Alef';
    /* url('../images/left-bg.png'); */

    background: #fdfcfb;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.label{
    font-size: 20px;
}
.iagree {
    text-align: center;
    font-size: 13px;
    color: #959595;
    margin-top: 10px;
}
.iagree a:hover {
    text-decoration: underline;
}
.iagree a {
    color: #69c5c2;
    text-decoration: none;
}
.continue-btn , input#submit-btn {
    height: 43px;  width: 114px;  background: #e7604a;  border: none;  border-radius: 7px;  font-size: 18px;  font-family: 'Alef';
    /* font-weight: bold; */  color: #ffffff;  cursor: pointer;
}
.continue-btn{
    /*float: left;*/
}
.text {
    font-size: 22px;
    margin-bottom: 30px;
}
#box-one , #box-two{
    width: 760px;
    padding: 20px 35px;
    background: url("../../catalog/view/theme/OPC040088/image/homeals/bg.png") repeat scroll 0 0 #f9f6ee;
}
.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    z-index: 9;
}

.loading-screen {
    display: none;
    width: 100%;
    height: 100%;
    background: #FFFFFF url("../../catalog/view/theme/OPC040088/image/loading.gif") no-repeat center center;
    opacity: 0.85;
    position: fixed;
    z-index: 10000;
}

form[name="login"] {
    margin-top: 45px;
}

a {
    font-size: 14px;
    text-decoration: underline;
    color: #372c2a;
}

a:hover {
    color: #e7604a;
}
.no-spam {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}