@media only screen and (min-width: 980px) and (max-width: 1024px) {
	#header,
	.nav-inner,
	.content-inner,
	.footer-inner,
	#powered{ width:940px; }
	#column-left, #column-right { width:240px;}
	#column-left + #column-right + #content, #column-left + #content { margin-left: 190px; }
	#column-right + #content { margin-right: 250px; }
	#footer .column{ width:224px; }
	.nav-responsive , .toggle .mobile_togglemenu{display:none}	
	/*.product-grid .rating, #content .box-product .rating {top: 160px;}*/	
	.banner { width: 49%;}	
	#banner2 {width: 100%;}
}
@media only screen and (max-width: 979px){
 
	#header,
	.nav-inner,
	.content-inner,
	.footer-inner,
	#powered{ width:724px; }
	#column-left{ width:165px;}
	#column-right { display:none;}
	
	#column-left + #column-right + #content,
	#column-left + #content { margin-left: 175px; }
	#column-right + #content { margin-right: 0; }
	
	#column-left .banner img,
	#column-right .banner img{ max-width:100%}
	#header .header-right{ width:490px; }
	#header .links a, #header #welcome a {margin: 0 0 0 4px;}
	#header #search{ top:35px;}
	#header #cart{top:82px;right:0;}
 	#header #cart .heading a{border:1px solid #E7DDD6;}
	#footer .column { width:100%;}
	#footer .column ul { display:none; }	
	.nav-responsive {display:block} 
	.product-info .cart span{  display:none;}
	.product-info .cart .links{ margin-top:8px;display: block; } 
	.product-info .cart .links .product_wishlist	{ display:inline; background:url("../../image/megnor/pipe.gif") no-repeat scroll right center;   margin-right: 5px;
    padding-right: 7px;}
	.contact-info .right iframe{ width:100% !important; }
 	.checkout-content .left , .checkout-content .right{width:100%; }
	.product-info .review a.review-write{ display:block; }
	select[name="category_id"]{clear:both; display:block; width:175px; margin:10px 0; }
	.product-list .left{ width:230px; }
	.product-grid-list .image img, #content .box-product .image img, #column-left .box-product .image img, #column-right .box-product .image img {}
	.banner { width: 49%;}	
	#banner2 {width: 100%;}
	/*.product-grid .rating, #content .box-product .rating {top: 160px;}	*/
	.social_block {width: 100%;}
	.zoomContainer .zoomLens{cursor:default !important ; }
	.zoomWindowContainer , .zoomWindow , .zoomContainer{ display:none;  }	
	.product-info .cart input {margin-top: 7px;}
	.banners-slider-carousel{width:96%;padding:2%;}	
	.product-list .right {margin-left: 7px; width: 270px;}
}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	#header,
	.nav-inner,
	.content-inner,
	.footer-inner,
	#powered{ width:auto;  margin:0 15px; }
	#column-left,#column-right { display:none;}	
	#column-left + #column-right + #content,
	#column-left + #content { margin-left:0; }	
	#column-right + #content { margin-right: 0; }
	#content{ clear:both; width:100%;}	
	#header .header-left , #header .header-right{ width:100%; }	
	.header-left{ margin-top:10px; }
	#header #logo img{ display:block; text-align:center; margin:0 auto; }
	#header #welcome{   float: none;
    margin:95px auto 10px;
    text-align: center;
    width: 100%;}	
	#header #search { width:92%; margin:140px auto 0; z-index:5; padding:1% 7% 1% 1%;}
	#header #search input{ width:100%;  }
	#header #cart{ width:100%; top:130px; text-align:center;right:auto; }
	#header #cart .content{top:5px;z-index:10;}
	#header #cart .heading a{float:none;}
	#header #cart .heading h4{ display:none; }
	#currency , #language , #currency .show:hover, #language .show:hover{  color: #FFFFFF;}
 	#currency , #language , .tm_headerlinkmenu{ width:33% !important; 
	background-color: #766659;
    border-right: 1px solid #FFFFFF; 
	border-left:none;
	border-top:none;
	border-bottom:none;
    margin: -1px 0 0 0;
    padding: 10px 0;
    text-align: center; position:relative; z-index:999;  cursor:pointer;}	 
	#header #cart .heading{ float:none;}
	#header #cart .content{ margin:0 auto; float:none;  }
	.language_div, .currency_div{ top:38px; }
 	#header .links , #header .header_links{ display:none; }
	#header .header_links{ 
		background: none repeat scroll 0 0 #FFFBF5;
		border: 1px solid #E4DCD5;
		display: none;
		position: absolute;
		margin: 0;
		padding: 0;
		width:170px;
		z-index: 95;
		top:38px; right:0; }
	#header .header_links li {	
		list-style: none outside none;
		text-align: left;
	}
	#header .header_links li a{
	   display: block;
		padding: 5px 10px;
	}
	#header .header_links li a:hover {		
		text-decoration: none;
	}
	#currency .show a , #currency .show a:hover, #language .show a , #language .show a:hover{ color:#fff;}
	.tm_headerlinkmenu { 
		border-right: none !important;
		color: #FFFFFF;
		display: block;
		 float:right;
		position:relative;
		z-index:999;
		width:34% !important;
		  margin-right: -2px;
	}
	#currency .top_downarrow, #language .top_downarrow{background:url("../../image/megnor/arrow-down-resp.png") no-repeat scroll right 7px;}
	#currency.active .top_downarrow, #language.active .top_downarrow{background:url("../../image/megnor/arrow-up-resp.png") no-repeat scroll right 7px;}
	.copyright-container{ margin:10px auto 0; }
	.product-info > .left{ width:380px; margin:0 auto 10px; float:none; }
	.product-info > .left + .right{ margin-left:0; }
	.product-filter .limit{ float:none;margin-left:0; }
	.product-filter .display{ padding-top:0;  }	
	.cart-left-area , .cart-right-area , .login-content .left , .login-content .right , .contact-info .left , .contact-info .right{ width:100%; }
	.login-content .left .content, .login-content .right .content{ min-height:inherit; }
	.captch_input , .cart-module input[type="text"]{ margin-bottom:6px !important; }
	.compare-info{  display: block;    overflow: auto;    width: 100%; }	
	#header #logo {margin-top: 58px;}  	 
	.product-list .price, .product-grid .price, #content .box-product .price{font-size:14px;}
	#header #wishlist-total,#header #wishlist-total:hover{background:none;}
}
@media only screen and (min-width: 540px) and (max-width: 625px) {
#featured-carousel .main_content, #featured-grid .main_content { left: 9px;
    width: 92%;}
.banner {width: 100%;}
#banner1 {float: none;}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 539px) {
.banner {width: 100%;}
#banner1 {float: none;}
/*.product-grid .rating, #content .box-product .rating {
    top: 160px;
}*/
}

/* Landscape phones and down */
@media only screen and (max-width: 479px) {
	.tm_responsive_row label{ width:100%; margin-bottom:5px; }
	.tm_responsive_row span{ width:100%; }
	.language_label , .currency_label{ display:none; }
	.product-filter .sort{ margin-top:5px; float:left;}
	.product-compare{ clear:both; }
	.pagination .links{ float:none; }
	.htabs{ width:100%;   height: auto; }
	 .htabs a{   display: block !important;    float: none; width:auto; margin:0; }
	 table.form td{ width:100%; display:block; }
	 
	 .form input.large-field, .form select.large-field ,textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], 		input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{ width:98%; }
	  
	 .sitemap-info .right , .sitemap-info .left , .manufacturer-list ul { width:100%; }
	 .order-list .order-content div{ width:100%; margin-bottom:15px; text-align:left;}
	 table#order-detail .left{ display:block;}
	 .product-info .image-additional a{ float:none; text-align:center; }
	 .banner {width: 100%;}
	#banner1 {float: none;}
/*	.product-grid .rating, #content .box-product .rating {top: 145px;}*/
	#header #search {padding: 1% 10% 1% 1%;width: 88%;}
	.product-info > .left{ width:380px; margin:0 auto 10px; float:none; }
	
.product-info > .left, .product-info > .left .image img {
    width: 100%;
    height: inherit;
    
}
.product-info .image-additional {
    margin: 0 auto;
    width: 149px;
}
.product-grid .wishlist, .product-grid .compare {clear: both;}

.product-grid-list .cart, #content .box-product .cart, .related-products a.button {
    float: none;   
    text-align: center;
	right:auto;
	margin-bottom:0;
}
.product-list .price, .product-grid .price, #content .box-product .price {
    float: none;   
    text-align: center;
}
#featured-carousel .main_content, #featured-grid .main_content{text-align:center;}

#content .box-product .rating {
    bottom: auto !important;
	position:relative;
	margin:0;
	text-align:center;
}
.product-grid-list .name a, #content .box-product .name a {  
    text-align: center;
}
#featured-carousel .price, #featured-grid .price {
    bottom: auto;
    display: none;
    left: auto;
    position: relative;
}

#featured-carousel .product-block:hover .price, #featured-grid .product-block:hover .price {
    display:block !important;}	

}

/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 379px) { 

#featured-carousel .main_content, #featured-grid .main_content {  left: 22px;
    width: 83%;}

.product-grid .rating, #content .box-product .rating {
    left: 48px;
   /* top: 171px;*/
}
}
@media only screen and (max-width: 319px){
	.mini-cart-info .name{ display:none; }
	.product-info > .left , #header #logo img , .product-info > .left .image img{ width:90%; }
	.product-info .cart .links .product_wishlist{ background:none; display:block;}
	.product-info .image-additional{ width:169px; margin:0 auto; }
	.product-info .product-image .customNavigation{ width:196px; margin:0 auto; position: relative; }
	.contact-info{ padding: 15px 10px;}
 	#content .aboutus .image1 , #content .aboutus .image2 ,#content .aboutus .image3 ,#content .aboutus .image4{ float:none; }
	#content .aboutus .content{ padding:10px 0 0 0; }
	#order-detail3 table.list .left{ padding:5px;}	
	table.list .left {display: block;}
	#header #cart .content{  width:190px;}
	#header #search {padding: 1% 13% 1% 1%;width: 85%;}
	.customSelectInner{width:auto !important}
	#featured-carousel .main_content, #featured-grid .main_content {   left: 16px;
    width: 87%;}
} 
@media only screen and (max-width:240px) {
}
