* { direction: rtl; }

#column-left{ float:right; }
#column-right{}
.flexslider .slides {padding-right: 0;}
#featured-carousel .rating, #featured-grid .rating{right:0 !important;}
.flex-control-nav {left: 20px;}

.main-menu > ul > li{border-right:none;border-left:1px solid #C74B3B;}
#column-left + #content {margin-right: 327px;
margin-left: 0;}
#column-right + #content {}
#column-left + #column-right + #content{margin-right: 220px;margin-left: 220px;}
.language_div, .currency_div {right: 0;}
 #header .header-left  { float:right;  }
#header .header-right  { float:left; }
#header #cart{ right:auto;  left:0;   }
#header #cart .heading span  ,#header #cart.active .heading span
{ background-position: left 8px; padding-left:15px; padding-right:0px;display:inline-block;   }  
#header .links a{float:left;}
 #currency , #language{   float:right;}
 .ie7  #currency , .ie7  #language{ display:inline-block !important; position:relative; z-index:9999 !important; float:left;  }
 #header #search {padding: 5px 5px 5px 35px;right:auto;left:0;} 
#banner1 {float: none;} 
#banner0{float:left;}
.product-grid .rating, #content .box-product .rating {left: auto;right: 20px;}

.product-grid-list .cart, #content .box-product .cart, .related-products a.button {float: left;text-align: left;}
#featured-grid .cart, #featured-carousel .cart {float: right;text-align: right;left: 10px;right: auto;}
.product-list .price, .product-grid .price, #content .box-product .price {float: right;}
#featured-carousel .price, #featured-grid .price {right:10px;left:auto !important} 
 /***********    FLOAT:LEFT       **********/
#header #cart .heading , #header .links , #header #welcome , .treeview-list .hitarea , #header #cart .content  , .pagination .links , .success .close, .warning .close, .attention .close, .information .close ,  .cart-right-area , .cart-total table , .checkout-content .right , .buttons .right  , .sitemap-info .right , .return-list .return-status {float:left;}

 /***********    FLOAT:RIGHT      **********/
 .main-menu > ul > li  ,  .category-list ul li, .product-list .left , .product-list .wishlist ,.product-list .compare , .pagination .results , .product-info .review .share  ,.review-list .author , .review-list .date , .review-list .rating , .cart-left-area , .buttons .left , .product-filter .display , .contact-info .left , .sitemap-info .left , .manufacturer-list ul , .return-list .return-content div  ,#content .aboutus .image1 , #content .aboutus .image2 , #content .aboutus .image3 , #content .aboutus .image4 , .product-filter .sort{float:right;}

/***********    TEXT-ALIGN:RIGHT      **********/
#header, .nav-inner, .content-inner, .footer-inner , #content .product-list .product-block-inner ,  .attribute thead tr td:first-child , .cart-buttons .center , table.list .left , .compare-info thead td, .compare-info thead tr td:first-child , span.customSelect , .currency_div a, .language_div a { text-align:right; }

/***********    TEXT-ALIGN:LEFT      **********/
.cart-right-area .checkout-button , .checkout-heading a , .return-list .return-info , .cart-right-area .checkout-button, .checkout-heading a, .return-list .return-info{ text-align:left; }
 
.ie7  .main-menu > ul > li > a { display:inline-block;float:left;}
.ie7 #menu li:hover{display:inline;}
.ie7  .main-menu > ul > li > ul{ left:auto; right:0 !important; top:42px;}
.ie7 .main-navigation ul li{display:inline-block;}
.ie7 #additional-carousel{float:left;}
.ie7 .warning{display:inline-block}
.ie7 #bottomfooter li a{display:inline-block;}
.ie7 .language_div ,.ie7 .currency_div{right:0;}
.ie7.social_block li a{float:none;}
#coupon input[type="text"],#voucher input[type="text"]{margin-bottom:7px;}

#header #cart .heading a {
    background: url("../../image/megnor/cart.png") no-repeat scroll right 3px #FFFBF5;  
    padding: 7px 37px 7px 5px;
	left:5px;
	float:none
  
}
#header #search input{ padding:7px 2px 7px 7px; }
#header .button-search{ right:auto; left:5px;}
#language .language_div img{ margin-left:5px; margin-right:0; }
#footer .column ul{ padding-right:0; }
.success .close, .warning .close, .attention .close, .information .close{ left: 10px;  right: auto;}
.success, .warning, .attention, .information{ padding:10px 33px 10px 10px; background-position: right 10px; }
.customNavigation a.prev { left: 10px;  right: auto;}
.customNavigation a.next{ left:35px;  right: auto; }
.main-menu > ul > li ul > li > a.activSub{background:url("../../image/megnor/rtl/menu_arrow_rtl.png") no-repeat scroll left center transparent; }
.main-menu > ul > li ul > li:hover > ul {	left:auto; right:168px;}
.product-list .wishlist{ margin-right:0 ; margin-left:10px; }

.product-grid-list .wishlist a,
#content .box-product .wishlist a {
	  padding-right:18px; padding-left:0;
	background-position:right -88px ;
	display:inline-block;
}
.product-grid-list .compare a,
#content .box-product .compare a {
	  padding-right:18px; padding-left:0;
	background-position:right -57px;	
	display:inline-block;
}

.product-grid-list .compare a:hover,
#content .box-product .compare a:hover{background-position:right 4px}

#content .box-product .wishlist a:hover,
.product-grid-list .wishlist a:hover { background-position:right -27px}
  
  
.box .box-content ul li a, #content .content ul li a , .box .box-content ul li a + a{ 

}
.box .box-content ul li a:hover, #content .content ul li a:hover , .box .box-content ul li a + a:hover{
	
}
ul.box-category > li a.active + ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{

    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	 
}

.product-list .sale {
    left: auto;
    right: 10px;
}
.ie7 #footer .column li a{ float:right; }
#footer .column li a{	
	padding-left:0;
	}
.social_block li {
	float: right;  
    margin-bottom: 2px;
    margin-left: 10px;
	margin-right:0;	
    padding-right: 50px;
	padding-left:0;
}

.social_block li.facebook {background: url("../../image/megnor/sprite.png") no-repeat scroll 58px -341px transparent;}


.social_block li.twitter {background: url("../../image/megnor/sprite.png") no-repeat scroll 43px -517px transparent;}
.social_block li.rss {background: url("../../image/megnor/sprite.png") no-repeat scroll 21px -429px transparent;}
.social_block li.facebook:hover {background-position: 58px -385px;}
.social_block li.twitter:hover {background-position: 43px -561px;}
.social_block li.rss:hover {background-position: 21px -473px;}	

#footer h3 {
    background: url("../../image/megnor/info.png") no-repeat scroll right center transparent;   
    padding: 15px 45px 15px 0;
   }
 .contact_us h3 {
    background: url("../../image/megnor/telephone.png") no-repeat scroll right center transparent !important;
    padding: 17px 30px 12px 0px;
}
.social_block h3 {
    background: url("../../image/megnor/follow.png") no-repeat scroll right center transparent !important;
    padding: 17px 30px 12px 0px;
}
.About_us h3 {
    background: url("../../image/megnor/aboutus.png") no-repeat scroll right center transparent !important;
    padding: 17px 30px 12px 0px;
}  
#powered span {
    color: #C5AE9B !important
    
}	
#bottomfooter ul li.login-logout{background:none;}
#bottomfooter ul li:first-child {background:url("../../image/megnor/pipe.jpg") no-repeat scroll left center transparent;}
#footer .column li a:hover{

}
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-right:62px; margin-left:0; }
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.product-list .right{ float:right;margin-left: 0px; margin-right:7px; text-align:right;}
.product-list .cart {float: right !important;text-align: left;margin:20px 20px 0 0;}
.product-list .image {    float: right;    margin-left: 10px; margin-right:0; }
.product-info > .left {    float: right;    margin-right: 0px; margin-left:0; }
.product-info > .left + .right {  margin-right: 0;   margin-left:0px;}
.zoomContainer , zoomLens{ right:0 !important; } 
.product-compare{ float:right; margin-right:15px; }
.product-filter .limit{ float:left; margin-left:0; margin-right:15px; }
.product-info .review a.review-write{ background-position:right center; padding-left:0; padding-right:20px;}
 .htabs a{ margin-left:3px; margin-right:0; float:right; }
.captch_input{ float:right; margin:4px 0 0 7px !important; }
.contact-info  .address , .contact-info .telephone , .contact-info .fax{padding:0px 45px 0px 0}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
#topcontrol{ right:auto !important; left:10px !important; }
.zoomWindow	{ left:auto !important; right:365px!important;}
 .breadcrumb a{  display: inline-block; } 
.product-grid .wishlist, .product-grid .compare, #content .box-product .wishlist, #content .box-product .compare {float: none;}
#header #cart .checkout a + a {  float: left;text-align: left;  margin-top: -4px;}
.contact-info .address{background-position:right -236px;}
.contact-info .telephone{background-position:right -315px;}
.contact-info .fax{background-position:right -273px;}
.ie7 .social_block ul li a {float:none !important}


@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }	
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0;float:left; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 4px; }
	.active .mobile_togglemenu {background-position: left -48px;}
	#header {}
	#header #cart {top: 105px;}
	#header #search {top: 55px;}
	#header #welcome{margin-top:0;}
	#featured-carousel .main_content, #featured-grid .main_content{left:9px;}
	#column-left + #column-right + #content, #column-left + #content {margin-right: 175px;margin-left:0;}	
	#column-right + #content {margin-left: 0;}
	
}

@media only screen and (max-width: 767px) {
	#currency, #language{ border-left: 1px solid #FFFFFF;border-right:none; }
	.tm_headerlinkmenu{margin-left: -2px; margin-right:0;}
	#header #cart .heading{ float:none !important;}
	#header #cart .content{  float:none !important; margin:0 auto;}
	#header .header_links{ left:0; right:auto; }
	#header #search{  margin-right:0;}
	.product-info > .left {  float: none; margin: 0 auto 10px; width: 360px; }
	.product-info > .left + .right {margin-right: 0;}	
	.htabs a{float:none; margin-left:0; display:inline-block !important;} 		
	#header #cart {top: 132px;}
	#header #search {top: 35px;}
	#header #welcome{margin:95px auto 10px;}	
	#column-left + #column-right + #content, #column-left + #content {margin-right: 0;}	
}
@media only screen and (max-width: 479px) {
.product-info > .left, .product-info > .left .image img {width: 100%;}
}
@media only screen and (max-width: 319px){
.product-filter .limit {float: right;}
.product-filter select {width: 100px !important;}
}