<?php
    // try key words to add day afternoon
    // for more power over catagories
    //


    if (isset($this->request->get['exclude'])) {
	$exclude = explode('_', (string)$this->request->get['exclude']);
    } else {
	$exclude = array();
    }
?>


<div class="box">
  <div class="box-content">
    <ul class="box-category treeview-list treeview">
	<li class="quik-search">
	    <?php echo $text_search; ?>
	    <input type="text" name="quik-search" />
	</li>

	<li class="filter-cat all <?php echo !($category_id) ? 'active' : ''; ?>" data-id="all">
        <span><?php echo $text_full_menu; ?></span>
	</li>
      <?php foreach ($categories as $category) { ?>
  <!--  <li class="filter-cat <?php echo ($category['category_id'] == $category_id) ? 'active' : ''; ?>"  data-id="<?php echo $category['category_id']; ?>">
	
        <?php if ($category['category_id'] == $category_id) { ?>
	    <span class="active"><?php echo $category['name']; ?></span>
        <?php } else { ?>
	    <span <?php if (!empty($exclude) && !$category_id && !in_array($category['category_id'],$exclude)) { echo "class='active'"; } ?> ><?php echo $category['name']; ?></span>
        <?php } ?>
	
        <?php if ($category['children']) { ?>
    <!--    <ul>
          <?php foreach ($category['children'] as $child) { ?>
          <li>
            <?php if ($child['category_id'] == $child_id) { ?>
            <a href="<?php echo $child['href']; ?>" class="active"><?php echo $child['name']; ?></a>
            <?php } else { ?>
            <a href="<?php echo $child['href']; ?>"><?php echo $child['name']; ?></a>
            <?php } ?>
          </li>
          <?php } ?>
        </ul>
        <?php } ?>
      </li>-->
      <?php } ?>
     <!--enter menu categories -->   
        <?php if(!empty($menu_cat)){ ?>
        <?php foreach($menu_cat as $key=>$value){ ?>
        
        <li class="filter-cat" data-id="<?php echo $value->day ?>">
        
         <span><?php echo $value->day ?></span>
        
        
        </li>        
         <?php } ?>
        <?php }?>
    </ul>	
  </div>
</div>

<script>
  /*  function filter_cats() {
	var exclude = "", all = false;
	var active = 0;
	
	// hiding every thing
	$(".product-list li").hide();
	$(".product-list li").removeClass("showing");
	$(".tags-filtter").hide();
	
	if(this == window){
	    if($("li.filter-cat.active").hasClass("all")){
		$(".product-list li").show();
		$(".product-list li").addClass("showing");
		
		$(".pre-menu-info .cat-name").text($("li.filter-cat.all.active").text());
	    } else {
		active = $("li.filter-cat.active").attr("data-id");
	    }
	    
	} else {
	    
	    $("li.filter-cat").removeClass("active");
	    $(this).addClass("active");
	    $(".pre-menu-info .cat-name").text($(this).text());
	    
	    if($(this).hasClass("all")){
		$(".product-list li").show();
		$(".product-list li").addClass("showing");
	    } else {
		active = $(this).attr("data-id");
		$(".product-list li."+active).show();
		$(".product-list li."+active).addClass("showing");
	    }
	    
	}
    }*/
    
    function filter_search(){
	
	var search_term = $(this).val();
	var string = "";
	
	console.log(search_term);
	
	$.each($(".product-list li.showing"), function() {
	    string = $(this).find(".namecon a").text();
	    
	    if(string.search(search_term) != -1){
		$(this).show();
	    } else {
		$(this).hide();
	    }
	    
	});
	
	// console.log(str.search( $("input[name='quik-search']").val() ));
    }
    
  $(document).ready(function() {
    
   // filter_cats();
    
  //  $("li.filter-cat").on("click",filter_cats);
    
    $("input[name='quik-search']").on("keyup",filter_search);
    
  })
</script>
