@font-face {
    font-family: 'Alef';
    src: url('Alef-Bold.eot');
    src: url('Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('Alef-Bold.woff') format('woff'),
         url('Alef-Bold.ttf') format('truetype'),
         url('Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('Alef-Regular.eot');
    src: url('Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('Alef-Regular.woff') format('woff'),
         url('Alef-Regular.ttf') format('truetype'),
         url('Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: 'spoiler';
 src: url('spoilereng-regular_4.eot');
 src: url('spoilereng-regular_4.eot?#iefix') format('embedded-opentype'),  url('spoilereng-regular_4.woff') format('woff'),  url('spoilereng-regular_4.ttf') format('truetype'),  url('spoilereng-regular_4.svg#fbspoilerbold') format('svg');
 font-weight: bold;
 font-style: normal;
}

@font-face {
    font-family: 'spoiler';
    src: url('spoilereng-regular_3.eot');
    src: url('spoilereng-regular_3.eot?#iefix') format('embedded-opentype'),
         url('spoilereng-regular_3.woff') format('woff'),
         url('spoilereng-regular_3.ttf') format('truetype'),
         url('spoilereng-regular_3.svg#fbspoilerblack') format('svg');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'spoiler';
    src: url('spoilereng-regular_5.eot');
    src: url('spoilereng-regular_5.eot?#iefix') format('embedded-opentype'),
         url('spoilereng-regular_5.woff') format('woff'),
         url('spoilereng-regular_5.ttf') format('truetype'),
         url('spoilereng-regular_5.svg#fbspoilerlight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'spoiler';
    src: url('spoilereng-regular_6.eot');
    src: url('spoilereng-regular_6.eot?#iefix') format('embedded-opentype'),
         url('spoilereng-regular_6.woff') format('woff'),
         url('spoilereng-regular_6.ttf') format('truetype'),
         url('spoilereng-regular_6.svg#fbspoilerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}