<?php if ($error_warning) { ?>
<div class="supercheckout-checkout-content" style="display:block;">
    <div class="warning"><?php echo $error_warning; ?></div>
</div>
<?php } ?>
<?php if ($payment_methods) { ?>                 
 <table class="radio">
                        <?php foreach ($payment_methods as $payment_method) { ?>
                        <tr class="highlight">
                            <td><?php if ($payment_method['code'] == $code || !$code) { ?>
                                <?php $code = $payment_method['code']; ?>
                             <?php if($settings['payment_logo']['default_option']=='textwithimage') echo '<br>'; ?>
                             <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>"  checked="checked" />
                                <?php } else { ?>
                             <?php if($settings['payment_logo']['default_option']=='textwithimage') echo '<br>'; ?>
                             <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>"  />
                                <?php } ?></td>
                            <td><label for="<?php echo $payment_method['code']; ?>">
                                    <?php if($settings['payment_logo']['default_option']=='imageonly'&&file_exists('image/data/supercheckout/payment_logo/'.$payment_method['code'].'.png')) 
                                    echo '<a title="'.$payment_method['title'].'"><img src="image/data/supercheckout/payment_logo/'.$payment_method['code'].'.png" alt="'.$payment_method['title'].'" /></a>';
                                    else 
                                    if($settings['payment_logo']['default_option']=='textwithimage'&& file_exists('image/data/supercheckout/payment_logo/'.$payment_method['code'].'.png'))
                                   {
                                     echo '<a title="'.$payment_method['title'].'"><img src="image/data/supercheckout/payment_logo/'.$payment_method['code'].'.png" alt="'.$payment_method['title'].'" /></a>';
                                   echo '<br>'.$payment_method['title'];
                                   }
                                   else
                                     echo $payment_method['title'];
                                     ?></label></td>
                        </tr>
                        <?php } ?>
                    </table>             
<br />
<?php } ?>
